<head>
	<link href="./lib/uicsBase.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/uics.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/theme.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/layout.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/addOn.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/forms.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/themeForms.css" rel="styleSheet" type="text/css" media="all">
	<link href="./lib/browserSupport.css" rel="styleSheet" type="text/css" media="all">

<!-- Kick start -->
<script src="https://kickstart.cafex.com:8443/kickstart/js/jquery-2.1.4.min.js"></script>
<script src="https://kickstart.cafex.com:8443/kickstart/../gateway/adapter.js"></script>
<script src="https://kickstart.cafex.com:8443/kickstart/../gateway/csdk-sdk.js"></script>
<script src="https://kickstart.cafex.com:8443/kickstart/../assistserver/sdk/web/consumer/assist.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
<script src="https://kickstart.cafex.com:8443/kickstart/web/kickstart.js"></script>
<script src="https://kickstart.cafex.com:8443/kickstart/web/short-code-assist.js"></script>
<link rel="stylesheet" type="text/css" href="https://kickstart.cafex.com:8443/kickstart/web/testclient.css">
<link rel="stylesheet" type="text/css" href="https://kickstart.cafex.com:8443/kickstart/web/dev.css">

<div id="kickstart">
</div>


<script>

var callingEnabled = false;
var cobrowseEnabled = false;
var cobrowseSessionID = null;
var config = null;


// Once onConfigured is called you know you can make calls
Kickstart.onConfigured = function() {
  console.log("Kickstart has been configured");
  config = Kickstart.getConfiguration();
  callingEnabled = config.voiceVideo.voiceVideoEnabled;
  cobrowseEnabled = config.coBrowse.coBrowseEnabled;
  document.getElementById("controls").style.display = "inline";
  if (callingEnabled) {
    document.getElementById("callbutton").style.display = "inline";
  }
  if(cobrowseEnabled){
    document.getElementById("short-code-button").style.display = "inline";
  }

  // setup to receive calls too
  if (config.voiceVideo.receiveCalls) {
    Kickstart.receiveCalls(cobrowseSessionID);
  }
}

Kickstart.onCallStarted = function() {
  document.getElementById("controls").style.display = "none";
  document.getElementById("callbutton").style.display = "none";
  document.getElementById("short-code-button").style.display = "none";
  if (cobrowseEnabled) {
    document.getElementById("cobrowsebutton").style.display = "inline";
  }
  document.getElementById("kickstart").style.display = "inline";
};

Kickstart.onCallEnded = Kickstart.onCallFailed = function() {
  document.getElementById("controls").style.display = "inline";
  document.getElementById("callbutton").style.display = "inline";
  if(cobrowseEnabled){
    document.getElementById("short-code-button").style.display = "inline";
  }
  document.getElementById("kickstart").style.display = "none";
};

Kickstart.onCobrowseStarted = function() {
  document.getElementById("short-code-button").style.display = "none";
  document.getElementById("cobrowsebutton").style.display = "none";
  document.getElementById("controls").style.display = "none";
};

Kickstart.onCobrowseEnded = Kickstart.onCobrowseFailed = function() {
  document.getElementById("controls").style.display = "inline";
  document.getElementById("cobrowsebutton").style.display = "none";
  if(cobrowseEnabled){
    document.getElementById("short-code-button").style.display = "inline";
  }
  if(callingEnabled){
    document.getElementById("callbutton").style.display = "inline";
  }
};

// This is how to start a call
function makeCall() {
    Kickstart.call("sip:agent1@fcsdk.trial.cafex.com");
}

function startShortCodeSupport(){
  var config = {};
  config.url = Kickstart.getConfiguration().server;
    window.ShortCodeAssist.startSupport(function (cid) {
        alert(cid);
        AssistSDK.onScreenshareRequest = function () {
            document.getElementById("short-code-button").style.display = "none";
            document.getElementById("callbutton").style.display = "none";
            localStorage.setItem("cid-only", "cid-only");
            inSupport = true;
            return true;
        };
    }, config);
}

function startCobrowse() {
  document.getElementById("cobrowsebutton").style.display = "none";
  Kickstart.cobrowse(Kickstart.getLocalAddress());
};

document.getElementById("callbutton").style.display = "none";
document.getElementById("short-code-button").style.display = "none";
document.getElementById("kickstart").style.display = "none";

// initialse kick start optionally specifying a div where the
// UI should be displayed. note that the config URL can be stored anywhere,
// but can be configured by a wizard on the server and exposed via:
// http://fcdsk.trial.cafex.com:8080/kickstart/sample
Kickstart.init("http://fcsdk.trial.cafex.com:8888/HSBC.json", document.getElementById("kickstart"), undefined, undefined, undefined, 'https://kickstart.cafex.com:8443/kickstart');
</script>
<!-- end of kick start -->

</head>
<body>
	<div class="csV-3 cs">
<div class="oh">
    <div class="csFixedLayout csCenterLayout csContainer">
        <div class="csContainerWrap"> 
            <div class="csColumns csLayoutOneColumn">
    <IMG src="page1_head.png"/>            <div class="csColumnsWrap">
                    <div class="csMain">
                        <div class="ukpwsGrid ukpwsGrid24">
                        	<div class="ukpwsGrid18">
	

                              	
								<span class="ukpwsSecondaryIntroText"><p><br>We'd also like to know:</p></span>
								<fieldset>
									<table cellspacing="0" class="csTableForm">
									<colgroup>
										<col class="csLabels"><col class="csFields">
									</colgroup>
									<tbody>
										<tr>
											<td class="csLabel"><div class="csLabel"><label id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-label" class="ukpwsLabel" for="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option">Will this be: <span class="csRequired"><span class="csRequiredText"></span></span></label></div></td>
											
											<td><div class="csFields"><div class="csChecks-v">
												<p><label><input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option_1" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option" type="radio" value="M" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionM" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionM" class="csToggle csCheck">your <strong>main home</strong></label></p>
												<p><label><input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option_2" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option" type="radio" value="S" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionS" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionS" class="csToggle csCheck">a <strong>second</strong> / <strong>additional</strong> property</label></p>
												<p><label><input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option_3" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:propertytype-option" type="radio" value="B" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionB" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_propertytype-optionB" class="csToggle csCheck">a <strong>Buy to Let</strong> property</label></p></div></div>
											</td>
										</tr>
									</tbody>
									</table>
								</fieldset>
		<fieldset>
			<legend>What are you looking to do?</legend>
			<table cellspacing="0" class="csTableForm ukpwsFormLayoutWide">
				<colgroup>
					<col class="csLabels">
					<col class="csFields">
				</colgroup>
				<tbody>
					<tr>
						<td class="csLabel">
							<div class="csLabel">
								<label id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:buyertypeMainHome-label" class="ukpwsLabel" for="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:buyertypeMainHome-option">What are you <br>looking to do?<span class="csRequired"><span class="csRequiredText">is required</span></span></label>
								<div class="csIcon csIconHint">
									<a class="csIcon csHintToggle csOver" data-csoverlaycontextnode="div.csLabel" href="#"><span class="csIconAlt"></span></a>
									<div class="csPanel csPanelHint">
										<div class="csPanelTopLeft">
											<div class="csPanelTopRight">
												<div class="csPanelContent">
													<div class="csPanelScroll">
														<div class="csHintMsg">
															
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="csPanelBottomLeft">
											<div class="csPanelBottomRight"></div>
										</div>
										<div class="csChevron csChevronTop"></div>
									</div>
								</div>
							</div>
						</td>
						<td>
							<div class="csFields">
								<select id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:buyertypeMainHome-option" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:buyertypeMainHome-option" class="csToggle" size="1">
									<option value="" selected="selected">Please select</option>
									<option value="F" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionF" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionF">Buy my first property</option>
									<option value="S" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionS" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionS">Move house/Buy another property</option>
									<option value="T" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionT" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionT">Transfer my mortgage to HSBC</option>
									<option value="X" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionX" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionX">Borrow extra - for EXISTING customers</option>
									<option value="N" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionN" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_buyertypeMainHome-optionN">Borrow funds - for NEW customers</option>
								</select>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
					<fieldset>
				<legend>Will the mortgage be used to consolidate any debts?</legend>
				<table cellspacing="0" class="csTableForm">
					<colgroup>
						<col class="csLabels">
						<col class="csFields">
					</colgroup>
					<tbody>
						<tr>
							<td class="csLabel">
								<div class="csLabel">
									<label id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-label" class="ukpwsLabel" for="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-option">Will the mortgage <br>be used to consolidate <br>



									any debts?<span class="csRequired"><span class="csRequiredText">is required</span></span></label>
									<div class="csIcon csIconHint">
										<a class="csIcon csHintToggle csOver" data-csoverlaycontextnode="div.csLabel" href="#"><span class="csIconAlt"></span></a>
										<div class="csPanel csPanelHint">
											<div class="csPanelTopLeft">
												<div class="csPanelTopRight">
													<div class="csPanelContent">
														<div class="csPanelScroll">
															<div class="csHintMsg">
																<p></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="csPanelBottomLeft">
												<div class="csPanelBottomRight"></div>
											</div>
											<div class="csChevron csChevronTop"></div>
										</div>
									</div>
								</div>
							</td>
							<td>
								<div class="csFields">
									<div class="csChecks-v">
										<p><label><input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-option_1" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-option" type="radio" value="N" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_debtConsolidationSecondHome-optionN" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_debtConsolidationSecondHome-optionN" class="csToggle csCheck">No</label></p>
										<p><label><input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-option_2" name="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:debtConsolidationSecondHome-option" type="radio" value="Y" data-csnodestohide=".hOptionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_debtConsolidationSecondHome-optionY" data-csnodestoshow=".optionviewns_7_1G54GBC0KG3970AC2S1PPS0004__MTP168_debtConsolidationSecondHome-optionY" class="csToggle csCheck">Yes</label></p>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>

<div class="csButtons csRow ukpwsCallToActionWrapper" style="margin-left: 40px;">
	<div class="csCol-2">
		<div id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:submitContinueWrapper" class="ukpwsAlignRight">
			<span class="csButtonWrap ukpwsPrimary">
				<input id="viewns_7_1G54GBC0KG3970AC2S1PPS0004_:MTP168:submitContinue" type="submit" class="csButton ukpwsOnLoad ukpwsOLDisable ukpwsPrimary" name="macmd_continueFromApply" value="Continue" onclick="window.location = './page2.html'" style="border: 0px; outline: 0px;">
			</span>
		</div>
	</div>
</div>

							</div>
						</div>
					</div>
				</div>
<IMG src="page1_tail.png"/>								
			</div>
		</div>
	</div>
</div>
</div>	

</body>