<head>
  <link href="./lib/uicsBase.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/uics.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/theme.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/layout.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/addOn.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/forms.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/themeForms.css" rel="styleSheet" type="text/css" media="all">
  <link href="./lib/browserSupport.css" rel="styleSheet" type="text/css" media="all">


  <!--CafeX-->

  <script type='text/javascript' src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- NOTE - you will need to change http://example.cafex.com:8443 to match your gateway install -->
<!--      - if you want to use https you will need to import the gateway cert or provision a trusted CA cert -->
<script type='text/javascript' src='https://172.31.250.52:8443/gateway/adapter.js'></script>
<script type='text/javascript' src='https://172.31.250.52:8443/gateway/csdk-sdk.js'></script>



  <!--end of kick start-->

</head>
<body>
  <div class="csV-3 cs">
    <div class="oh">
        <div class="csFixedLayout csCenterLayout csContainer">
            <div class="csContainerWrap"> 
                <div class="csColumns csLayoutOneColumn">
            <IMG src="mortgage_head.png"/>            
              <div class="csColumnsWrap">
                        <div class="csMain">
                            <div class="ukpwsGrid ukpwsGrid24">
                              <div class="ukpwsGrid18" style="width: 1040px;">
                    <div class="ukpwsSecondaryIntroText" style="text-align: center">
                      <p><br/>Welcome to your session with our mortgage advisor<br/>When you are ready, please start the session</p>
                      <br/>
                      <span class="ukpwsCallToAction">
                        <span class="csButtonWrap ukpwsPrimary" >
                          <input type="submit" class="csButton ukpwsPrimary" name="callButton" value="Start Call" style="margin: 0" onClick="" id="call"/>
                        </span>
                      </span>
                    </div>
                    <div>
                      
                    </div>

                    <div id="remote" style="height: 600px;width: 600px; margin:0 auto; border-style: groove; background-image: url('hsbc-logo-large.png'); background-repeat: no-repeat; background-position: center;  "/>

                  </div>
                </div>
              </div>
            </div>
          <IMG src="mortgage_tail.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
    $(function () {

      var viewportwidth = document.documentElement.clientWidth;

      //params

      $.urlParam = function(name){
          var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
          if (results==null){
             return null;
          }
          else{
             return results[1] || 0;
          }
      }

      var sid = $.urlParam('sid'); // name


        // hook up the hangup button
        $('#hangup').click(function() {
            // if we're on a call - end it!

            $('#remote').html("");

            var call = UC.phone.getCalls()[0];
            if (call) {
                call.end();

            }
            else { alert('Not on a call');}
        });

        function makeCall() {

            UC.phone.setPreviewElement(document.getElementById('local'));
                    
            var call = UC.phone.createCall('sip:'+sid+'@172.31.250.116');
            // var call = UC.phone.createCall('sip:888@172.31.250.116');

            call.onRemoteMediaStream = function() {
                call.setVideoElement(document.getElementById('remote'));
            };

            call.onConnectionQualityChanged = function(quality) {
                $('#quality').append('Quality: '+quality+' %');
            };

            call.dial(true, true);
        };

        // UC.onInitialised = makeCall;

        UC.onInitialised = function() {


            topic = UC.aed.createTopic("mortgage-share");

            topic.onConnectSuccess = function(data) {
                
              console.log("token: " + window.sessionToken);

            }

            topic.onTopicUpdate = function(key,data,version,deleted) {

              if (key == "cobrowse" && data == "start") {
                 window.open("page2.html?sessionToken="+window.sessionToken, "popup", "width=1040, height=1000, left="+(viewportwidth)+",top=0");
              }
            }

            topic.connect();

          
        }

        $('#call').on('click', function() {

          makeCall();

        });

        $.post('session.php?', function (sessionID) {

            UC.start(sessionID);

            window.sessionToken = sessionID;

        })
        .fail(function (response) {
            alert('Failed to get session :-(');
        });
        
    });
</script>




</body>