@charset "UTF-8";

/*************************************************************************************************/
/* Grid                                                                                          */
/*************************************************************************************************/
div.ukpwsGrid {
}

div.ukpwsGrid24 {
   width: 940px;
}

div.ukpwsGrid18 {
   float: left;
   width: 700px;
   margin-right: 20px;
}

div.ukpwsGrid6 {
   float: left;
   width: 220px;
}

/*************************************************************************************************/
/* Dividers                                                                                      */
/*************************************************************************************************/
.csV-3 div.ukpwsPrimaryDivider {
   height: 1px;
   border-top: 1px solid #d8d8d8;
   margin: 40px 0;
}
.csV-3 div.ukpwsSecondaryDivider {
   height: 1px;
   border-top: 1px solid #d8d8d8;
   margin: 0 0 20px 0;
}
.csV-3 table.csTableForm td.ukpwsSecondaryDivider {
   height: 1px;
   border-top: 1px solid #d8d8d8;
   margin: 0;
}

/*************************************************************************************************/
/* Alignment                                                                                     */
/*************************************************************************************************/
.csV-3 .ukpwsAlignLeft,
.csV-3 .csTable .ukpwsAlignLeft {
   text-align: left;
}

.csV-3 .ukpwsAlignCenter,
.csV-3 .csTable .ukpwsAlignCenter {
   text-align: center;
}

.csV-3 .ukpwsAlignRight,
.csV-3 .csTable .ukpwsAlignRight {
   text-align: right;
}

/*************************************************************************************************/
/* Sections/Panels                                                                               */
/*************************************************************************************************/
.csV-3 .ukpwsSectionMargin1 {
   margin: 0px 10px;
}
.csV-3 .ukpwsSectionMarginLeft1 {
   margin-left: 20px;
}
.csV-3 .ukpwsSectionMarginBottom1 {
   margin-bottom: 10px;
}
.csV-3 .ukpwsSectionMarginBottom2 {
   margin-bottom: 20px;
}
.csV-3 .ukpwsSectionMarginRight1 {
   margin-right: 20px !important;
}
/*************************************************************************************************/
/* Custome Styles for Service Type Manage Pages             */
/*************************************************************************************************/
.csV-3 .ukpwsSectionMarginBottom2ForMoreInfoEO {
   margin-bottom: 20px;
}

.csV-3 .ukpwsSectionMarginBottom3 {
	margin-bottom: 40px;
}

.csV-3 .ukpwsSectionMarginBottom4 {
	margin-bottom: 29px;
}
.csV-3 .paddingLeftAlign {
	padding-left: 130px;
	text-align:center;
}
.csV-3 .ukpwsSectionFontSize {
	font-size: 14px;
}
.csV-3 .alignTextRight {
	text-align: right;
}
.csV-3 .ukpwsSectionBorder1 {
   border: 1px solid #ccc;
}
.csV-3 .ukpwsSectionBorderTop1 {
   border-top: 1px solid #ccc;
}
.csV-3 .ukpwsSectionBorderBottom1 {
   border-bottom: 1px solid #ccc;
}
.csV-3 .ukpwsSectionBorderTop2 {
   border-top: 1px dotted #d7d7d7;
}
.csV-3 .ukpwsSectionBorderBottom2 {
   border-bottom: 1px dotted #d7d7d7;   
}
.csV-3 .ukpwsSectionBorderLeft1 {
   border-left: 1px solid #ccc;
}
.csV-3 .ukpwsSectionBorderRight1 {
   border-right: 1px solid #ccc;
}
.csV-3 .ukpwsSectionBorderGreen {
   border-right:8px solid #008580 ;
   border-left: 8px solid #008580 ;
}
.csV-3 .ukpwsSectionSolidBorder {
   border-right:8px solid #ccc;
   border-left: 8px solid #ccc;
}

.csV-3 .ukpwsSectionSolidBorder2 {
   border-bottom:5px solid #008580;
   
}

.csV-3 .ukpwsSectionBorderTop0 {
   border-bottom: 0;
}
.csV-3 .ukpwsSectionBorderBottom0 {
   border-bottom: 0;
}
.csV-3 .ukpwsSectionBorderLeft0 {
   border-left: 0;
}
.csV-3 .ukpwsSectionBorderRight0 {
   border-left: 0;
}
.csV-3 .ukpwsSectionPadding1 {
   padding: 10px 10px;
}
.csV-3 .ukpwsSectionPadding2 {
   padding: 20px 40px;
}
.csV-3 span.ukpwsLabelTextPlain {
   display: inline-block;
   color: #4C4C4C;
   margin-bottom: 0;
   font-size: 13px;
   font-weight: normal;
   vertical-align: middle;
   position: relative;
   line-height: 1.5em;
}
/*************************************************************************************************/
/* Custome Styles for Service Type Manage Pages             */
/*************************************************************************************************/
.csV-3 .ukpwsTypeMargin3 {
   margin-top: 5px;
}
.csV-3 .ukpwsSectionPadding3 {
	padding: 10px 30px;
	padding-top: 25px;
	font-size: 15px;
}.csV-3 .ukpwsSectionPadding5 {
  padding: 25px 1px 10px;
}
.csV-3 .ukpwsSectionPadding6 {
	 padding-left: 40px;
}
.csV-3 .ukpwsSectionPadding7 {
	margin-bottom: -10px;
}
.csV-3 .ukpwsSectionPadding8{
	padding: 4px 8px;
 	font-size: 12px;
}
.csV-3 .ukpwsSectionPadding9{
	padding-left: 10px;
}
.csV-3 .ukpwsSectionVLessPadding9 {
	padding: 8px 8px;
}
.csV-3 .ukpwsSectionPadding10 {
	padding: 10px 30px;
	padding-top: 14px;
	font-size: 15px;
}
.csV-3 .ukpwsGreyBoxPadding {
	padding: 6px 10px;
	font-size: 12px;
	padding-bottom:2px;
	text-align:;
}

.csV-3 .ukpwsGreyBoxPadding1 {
	padding: 0px 40px;
	padding-top: 25px;
	font-size: 15px;
} 
.csV-3 .ukpwsSectionPaddingH1 {
   padding: 0px 10px;
}
.csV-3 .ukpwsSectionPaddingTop2 {
   padding-top: 20px;
}
.csV-3 .ukpwsSectionBackground1 {
   background-color: #e4e4e4;
}
.csV-3 .ukpwsSectionBackground2 {
   background-color: #f0f0f0;
}
.csV-3 .ukpwsSectionBackground3 {
   background-color: #e4e4e4;
   /* see https://developer.mozilla.org/en/CSS/-moz-linear-gradient for cross browser */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e4e4e4'); /* for IE */
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e4e4e4)); /* for webkit browsers */
   background-image: -moz-linear-gradient(bottom,  #e4e4e4,  #fefefe 100px); /* for firefox 3.6+ */ 
}

.csV-3 .csButtonWrap1 {
   display: -moz-inline-box;
   display: inline-block;
   vertical-align: top;
   text-align: right; 
   background: transparent url() no-repeat left top;
   margin: 0 0 0 -4px !important;
}

.csV-3 .csButtonWrap2 {
   display: -moz-inline-box;
   display: inline-block;
   vertical-align: top;
   text-align: right; 
   margin: 0 7px 5px 0px !important; 
   font-weight: normal !important;
}

.csV-3 div.ukpwsPanel2 {
   text-align: center;
}
.csV-3 div.ukpwsPanel2 > h3.csPanelToggle,
.csV-3 div.ukpwsPanel2 > h4.csPanelToggle,
.csV-3 div.ukpwsPanel2 > h5.csPanelToggle,
.csV-3 div.ukpwsPanel2 > div {
   width: auto;
   display: inline;
   margin-bottom: 0;
}

.csV-3 div.ukpwsMessageBox,
.csV-3 div.ukpwsSectionError,
.csV-3 div.ukpwsSectionConfirm,
.csV-3 div.ukpwsSectionInfo {
   padding: 20px 20px 20px 73px;
   margin-bottom: 10px;
   background-position: 20px 20px;
   background-repeat: no-repeat;
   min-height: 38px;
}

.csV-3 div.ukpwsMessageBox .ukpwsLargerHeading,
.csV-3 div.ukpwsSectionError .ukpwsLargerHeading,
.csV-3 div.ukpwsSectionConfirm .ukpwsLargerHeading,
.csV-3 div.ukpwsSectionInfo .ukpwsLargerHeading {
	display: block;
	margin-bottom: 10px;
}

.csV-3 div.ukpwsMessageBox {
   border: 1px solid #d7d7d7;
   padding: 20px;
}

.csV-3 div.ukpwsSectionInfo {
   background-color: #feeab8;
   background-image: url("images/icons/sectionInfo.png");
}

.csV-3 div.ukpwsSectionError {
   background-color: #fbebeb;
   background-image: url("images/icons/sectionError.png");
}
.csV-3 div.ukpwsSectionError .ukpwsLargerHeading {
	color: #db0011;
}

.csV-3 div.ukpwsSectionConfirm {
   background-color: #ecf2de;
   background-image: url("images/icons/sectionConfirm.png");
}
.csV-3 div.ukpwsSectionConfirm .ukpwsLargerHeading {
	color: #8eb957;
}

/*----- Warning panels in forms ---------------------------------------------------------------- */
.csV-3 .csMsgs-x div.csFields .ukpwsPanelWarning {
	z-index: 510;
}
.csV-3 .oh div.ukpwsPanelWarning div.csPanelTopLeft,
.csV-3 .oh div.ukpwsPanelWarning div.csPanelTopRight,
.csV-3 .oh div.ukpwsPanelWarning div.csPanelBottomLeft,
.csV-3 .oh div.ukpwsPanelWarning div.csPanelBottomRight {
	background-image:url(images/panels/panelWarning.gif);
}
.csV-3 .oh div.ukpwsPanelWarning div.csPanelBottomLeft,
.csV-3 .oh div.ukpwsPanelWarning div.csPanelBottomRight {
	background-position: 0 100%;
	display: block;
	height: 10px;	
}
.csV-3 .oh div.ukpwsPanelWarning div.csPanelTopRight {
	background-position: 100% 0;
	left: 7px;
}
.csV-3 .oh div.ukpwsPanelWarning div.csPanelBottomRight {
	position: relative;
	background-position: 100% 100%;
	left: 7px;
}
.csV-3 div.ukpwsPanelWarning div.csPanelTopLeft div.csPanelScroll {
	padding: 10px;
}
.csV-3 .oh .ukpwsPanelWarning .csChevron {
	background-image: url(images/panels/panelChevronWarning.gif);
   height: 17px;
   left: -4px;
   top: 10px;
}
.csV-3 .csPanel .csChevronLeft {
	top: 10px;
	left: -4px;
	background-position:0 0;
}
.csV-3 .csDone div.csFields div.ukpwsPanelWarning {
  display: block;
}
.csV-3 .ukpwsWarning select {
  border: 1px solid #E4A50C;
}
/*************************************************************************************************/
/* Columns                                                                                       */
/*************************************************************************************************/
.csV-3 div.ukpwsDynamicCols {
   width: auto;
}
.csV-3 div.ukpwsDynamicCols div.ukpwsDynamicColsWrapper {
   display: inline-block;
   vertical-align: top;
   border-top: 1px dotted #d7d7d7;
   padding-top: 10px;
}
.csV-3 div.ukpwsDynamicCols div.ukpwsDynamicColsWrapper div.ukpwsDynamicColsContainer {
   margin: 0 20px 10px 0;
}
.csV-3 div.ukpwsDynamicCols div.ukpwsDynamicColsRow0 {
   border-top: 0;
   padding-top: 0;
}

.csV-3 div.ukpwsDynamicCols.ukpwsDynamicCols2 div.ukpwsDynamicColsWrapper {
   border-top: 0px;
}

.csV-3 div.ukpwsDynamicCols2 div.ukpwsDynamicColsWrapper {
   width: 50%;
}

.csV-3 div.ukpwsDynamicCols3 div.ukpwsDynamicColsWrapper {
   width: 33%;
}

.csV-3 div.ukpwsDynamicCols4 div.ukpwsDynamicColsWrapper {
   width: 25%;
}

.csV-3 div.ukpwsSectionBoxed {
   background-color: #e4e4e4;
   padding-bototm: 10px;
}
/*************************************************************************************************/
/* Custome Styles for Service Type Manage Pages             */
/*************************************************************************************************/
.csV-3 .ukpwsSectionBoxed1 {
  	border: 1px solid #ccc;
	height: 540px;
	width: 49.2% !important;
}
.csV-3 div.ukpwsSectionBoxed div.ukpwsDynamicColsWrapper {
   margin-top: 10px;
}
.csV-3 div.ukpwsSectionBoxed div.ukpwsDynamicColsContainer {
   border-left: 2px solid #ccc; 
   padding: 10px 20px;
}
.csV-3 div.ukpwsSectionBoxed div.ukpwsDynamicColsWrapper:first-child div.ukpwsDynamicColsContainer {
   border-left: 0;
}

/*************************************************************************************************/
/* Tables                                                                                        */
/*************************************************************************************************/
.csV-3 .csTable > tbody > tr:first-child > th,
.csV-3 .csTable > tbody > tr:first-child > td {
  background-image: url("images/tables/tableHeadBottomShadow.gif");
  background-repeat: repeat-x;
  padding-top: 18px;
}

.csV-3 table thead tr th.ukpwsColumnHighlight1,
.csV-3 table tbody tr td.ukpwsColumnHighlight1,
.csV-3 table thead tr.csZebra th.ukpwsColumnHighlight1,
.csV-3 table tbody tr.csZebra td.ukpwsColumnHighlight1 {
   background-color: #f0f0f0;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
}
.csV-3 table thead tr th.ukpwsColumnHighlight2,
.csV-3 table tbody tr td.ukpwsColumnHighlight2,
.csV-3 table thead tr.csZebra th.ukpwsColumnHighlight2,
.csV-3 table tbody tr.csZebra td.ukpwsColumnHighlight2 {
   background-color: #a3d963;
}

.csV-3 table tr td.ukpwsHeadingRow1,
.csV-3 table tr.csZebra td.ukpwsHeadingRow1 {
   background-color: #fff;
   padding-top: 12px;
}

.csV-3 table tr td.ukpwsFooterRow1,
.csV-3 table tr.csZebra td.ukpwsFooterRow1 {
   background-color: #fff;
}

.csV-3 table td.ukpwsColumnNoPadding {
   padding-left: 0;
   padding-right: 0;
}

.csV-3 table.ukpwsEmbeddedTable {
   border-left: 0;
   border-right: 0;
}

.csV-3 table.ukpwsTableFixed {
	table-layout: fixed;
}

/*----- ukpwsTable1 ---------------------------------------------------------------------------- */
.csV-3 table.ukpwsTable1 {
   border: 0;
}
.csV-3 table.ukpwsTable1 thead th {
   border-bottom: 1px solid #ccc;
}
.csV-3 table.ukpwsTable1 thead th {
   border-right: 1px solid #ccc;
}
.csV-3 table.ukpwsTable1 tbody th,
.csV-3 table.ukpwsTable1 td {
   border-top: 1px solid #ccc;
   border-right: 1px solid #ccc;
   background-color: transparent;
}
.csV-3 table.ukpwsTable1 tr.csZebra th,
.csV-3 table.ukpwsTable1 tr.csZebra td {
   background-color: transparent;
}
.csV-3 table.ukpwsTable1 thead th.csLast {
   border-right: 0;
}
.csV-3 table.ukpwsTable1 tbody th.csLast,
.csV-3 table.ukpwsTable1 td.csLast {
   border-right: 0;
   border-bottom: 0;
   border-left: 0;
}
.csV-3 table.ukpwsTable1 thead tr:first-child th,
.csV-3 table.ukpwsTable1 tbody tr:first-child th,
.csV-3 table.ukpwsTable1 tr:first-child td {
   border-top: 0;
}
.csV-3 table.ukpwsTable1 tbody tr:first-child th,
.csV-3 table.ukpwsTable1 tbody tr:first-child td {
  background-image: none;
}

/*----- ukpwsTable2 ---------------------------------------------------------------------------- */
.csV-3 table.ukpwsTable2 {
   border: 0;
   margin-bottom: 24px;
}
.csV-3 table.ukpwsTable2 thead th {
   background-color: transparent;
   border-bottom: 1px dotted #ccc;
   color: #4c4c4c;
}
.csV-3 table.ukpwsTable2 tbody th {
   border-right: 0;
   border-top: 1px solid #ccc;
   background-color: transparent;
}
.csV-3 table.ukpwsTable2 tbody tr:first-child th {
   border-top: 0;
}
.csV-3 table.ukpwsTable2 tbody tr.csZebra th,
.csV-3 table.ukpwsTable2 tbody td,
.csV-3 table.ukpwsTable2 tbody tr.csZebra td {
   border-bottom: 1px dotted #ccc;
   background-color: transparent;
}
.csV-3 table.ukpwsTable2 tbody tr:first-child td {
   border-top: 0;
}
.csV-3 table.ukpwsTable2 tbody tr:first-child th,
.csV-3 table.ukpwsTable2 tbody tr:first-child td {
  background-image: none;
}
.csV-3 table.ukpwsTable2 span.csIcon {
   float: right;
}

/*----- ukpwsTable3 ---------------------------------------------------------------------------- */
.csV-3 table.ukpwsTable3 {
   border: 0;
}
.csV-3 table.ukpwsTable3 thead tr th {
   color: #4c4c4d;
   font-size: 12px;
   font-weight: bold;
   line-height: 14px;
   margin-bottom: 0;
}
.csV-3 table.ukpwsTable3 tbody tr td {
   color: #000;
   font-size: 16px;
   font-weight: normal;
   line-height: 18px;
   margin-bottom: 10px;
   vertical-align: top;
}
.csV-3 table.ukpwsTable3 {
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}
.csV-3 table.ukpwsTable3 thead th {
   border-bottom: 0;
   vertical-align: top;
   text-align: left;
   padding: 10px 10px 0 0;
   background-color: transparent;
}
.csV-3 table.ukpwsTable3 thead th.csLast {
   padding-right: 0;
}
.csV-3 table.ukpwsTable3 tbody th {
   border: 0;
   background-color: transparent;
}
.csV-3 table.ukpwsTable3 thead th {
   padding: 12px 10px 0 0;
   vertical-align: top;
}
.csV-3 table.ukpwsTable3 tbody th,
.csV-3 table.ukpwsTable3 tbody td {
   padding: 12px 10px 12px 0;
   background-color: transparent;
}
.csV-3 table.ukpwsTable3 tbody th, 
.csV-3 table.ukpwsTable3 tbody td {
   text-align: left;
}
.csV-3 table.ukpwsTable3 tbody tr.csZebra th,
.csV-3 table.ukpwsTable3 tbody tr.csZebra td {
   background-color: transparent;
}
.csV-3 table.ukpwsTable3 tbody td.csLast {
   padding-right: 0;
}
.csV-3 table.ukpwsTable3 tbody tr:first-child th,
.csV-3 table.ukpwsTable3 tbody tr:first-child td {
  background-image: none;
}

/*----- ukpwsTable4 ---------------------------------------------------------------------------- */
.csV-3 table.ukpwsTable4 tbody td {
   border-left: 1px solid #fff;
}
.csV-3 table.ukpwsTable4 thead th , 
.csV-3 table.ukpwsTable4 tbody td {
   text-align: center;
   font-weight: normal;
}
.csV-3 table.ukpwsTable4 thead th.csFirst {
   text-align: left;
}
.csV-3 table.ukpwsTable4 tbody td.csFirst {
   border-left: 0;
   text-align: left;
}

/*----- ukpwsTable5 ---------------------------------------------------------------------------- */
.csV-3 table.ukpwsTable5 {
   border: 0;
}
.csV-3 table.ukpwsTable5 thead th {
   border-bottom: 1px solid #ccc;
}
.csV-3 table.ukpwsTable5 tbody th {
   border-right: 1px solid #ccc;
}
.csV-3 table.ukpwsTable5 thead th,
.csV-3 table.ukpwsTable5 tbody th,
.csV-3 table.ukpwsTable5 td,
.csV-3 table.ukpwsTable5 tr.csZebra th,
.csV-3 table.ukpwsTable5 tr.csZebra td {
   background-color: transparent;
}
.csV-3 table.ukpwsTable5 tbody tr:first-child th,
.csV-3 table.ukpwsTable5 tbody tr:first-child td {
  background-image: none;
}

/*----- ukpwsTreeTable1 ------------------------------------------------------------------------ */
.csV-3 .ukpwsTreeTable1 thead th {
   border-bottom: 0;
   text-align: center;
}
.csV-3 .ukpwsTreeTable1 tbody td {
   border-top: 1px dotted #ccc;
   border-bottom: 0;
   text-align: center;
}
.csV-3 .ukpwsTreeTable1 tbody td.csFirst {
   text-align: left;
}
.csV-3 .ukpwsTreeTable1 tbody td.ukpwsHiddenRow {
   border-top: 0;
}
.csV-3 .ukpwsTreeTable1 tbody th,
.csV-3 .ukpwsTreeTable1 tbody td,
.csV-3 .ukpwsTreeTable1 tbody tr.csZebra th,
.csV-3 .ukpwsTreeTable1 tbody tr.csZebra td {
   background-color: transparent;
}
.csV-3 .ukpwsTreeTable1 tbody tr:first-child th,
.csV-3 .ukpwsTreeTable1 tbody tr:first-child td {
  background-image: none;
}
.csV-3 table.ukpwsTreeTable1 table.ukpwsFormLayout.ukpwsFormLayoutCompact td div.csLabel {
   padding-top: 0px;
   padding-bottom: 0px;
}
.csV-3 table.ukpwsTreeTable1 table.ukpwsFormLayout.ukpwsFormLayoutCompact td div.csFields {
   margin-bottom: 0px;
}
.csV-3 table.ukpwsTreeTable1 table.ukpwsFormLayout.ukpwsFormLayoutCompact td {
   vertical-align: middle;
}

/*----- ukpwsTreeTable2 ------------------------------------------------------------------------ */
.csV-3 .ukpwsTreeTable2 thead th {
   border-right: 1px solid #ccc;
   text-align: center;
   vertical-align: top;
}
.csV-3 .ukpwsTreeTable2 thead th:csFirst {
   border-left: 1px solid #ccc;
}
.csV-3 .ukpwsTreeTable2 tbody td {
   border-top: 1px solid #ccc;
   border-bottom: 0;
   text-align: center;
}
.csV-3 .ukpwsTreeTable2 tbody td.csFirst {
   text-align: left;
}
.csV-3 .ukpwsTreeTable2 tbody td.ukpwsHiddenRow {
   border-top: 0;
}
.csV-3 table.ukpwsTreeTable2 tbody tr:first-child td {
   background-image: url("images/tables/tableHeadBottomShadow.gif");
   background-repeat: repeat-x;
   padding-top: 18px;
}
.csV-3 table.ukpwsTreeTable2 tbody tr:first-child td.ukpwsColumnHighlight1 {
   background-image: url("images/tables/tableHeadBottomShadowHighlight.gif");
}


.csV-3 table.ukpwsTreeTable2 tbody tr:first-child td.ukpwsColumnHighlight2 {
   background-image: url("images/tables/tableHeadBottomShadowHighlight2.gif");
}
.csV-3 .ukpwsTreeTable2 tbody th,
.csV-3 .ukpwsTreeTable2 tbody td,
.csV-3 .ukpwsTreeTable2 tbody tr.csZebra th,
.csV-3 .ukpwsTreeTable2 tbody tr.csZebra td {
   background-color: transparent;
}
.csV-3 table.ukpwsTreeTable2 > tbody > tr > td.ukpwsTableHintColumn {
	padding-left: 0px;
}

.csV-3 table.ukpwsTreeTable2.supportHiddenCols tbody tr:first-child td,
.csV-3 table.ukpwsTreeTable2.supportHiddenCols tbody tr:first-child td.nohighlight,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight1 tbody tr:first-child td.nohighlight,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight2 tbody tr:first-child td.nohighlight{
  background-image: url("images/tables/tableHeadBottomShadow.gif");
  background-repeat: repeat-x;
  padding-top: 18px;
  background-color: transparent;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;

}

.csV-3 table.ukpwsTreeTable2.supportHiddenCols tbody tr:first-child td.ukpwsColumnHighlight1,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight1 tbody tr:first-child td.ukpwsColumnHighlight1,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight2 tbody tr:first-child td.ukpwsColumnHighlight1,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight1 tbody tr:first-child td{
  background-image: url("images/tables/tableHeadBottomShadowHighlight.gif");
  background-color: #f0f0f0;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.csV-3 table.ukpwsTreeTable2.supportHiddenCols tbody tr:first-child td.ukpwsColumnHighlight2,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight1 tbody tr:first-child td.ukpwsColumnHighlight2,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight2 tbody tr:first-child td.ukpwsColumnHighlight2,
.csV-3 table.ukpwsTreeTable2.supportHiddenColsHighlight2 tbody tr:first-child td {
  background-image: url("images/tables/tableHeadBottomShadowHighlight2.gif");
  background-color: #f0f0f0;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
/*----- ukpwsTreeTable3 ------------------------------------------------------------------------ */
.csV-3 .ukpwsTreeTable3 thead th.csFirst,
.csV-3 .ukpwsTreeTable3 tbody td.csFirst {
   display: none;
}

/*----- ukpwsTreeTable4 ------------------------------------------------------------------------ */
.csV-3 table.ukpwsTreeTable4 {
   border: 0;
   border-bottom: 1px dotted #ccc;
}
.csV-3 table.ukpwsTreeTable4 tbody th,
.csV-3 table.ukpwsTreeTable4 tbody td {
   background-color: transparent;
   border-top: 1px dotted #ccc;
   border-bottom: 0;
   vertical-align: top;
}
.csV-3 table.ukpwsTreeTable4 tbody tr.csZebra > td {
   background-color: transparent;
}
.csV-3 table.ukpwsTreeTable4 div.csIconHint,
.csV-3 table.ukpwsTreeTable4 span.csIconHint {
   vertical-align: baseline;
}
.csV-3 table.ukpwsTreeTable4 tbody tr:first-child th,
.csV-3 table.ukpwsTreeTable4 tbody tr:first-child td {
  background-image: none;
}
.csV-3 table.csTable.ukpwsTreeTable4 td.ukpwsHiddenRow {
   font-size: 14px;
   border-top: 1px solid #ccc;
   padding-top: 20px;
}

/*************************************************************************************************/
/* Forms                                                                                         */
/*************************************************************************************************/

/*----- ukpwsFormLayout ------------------------------------------------------------------------ */
.csV-3 table.ukpwsFormLayout {
   width: 100%;
}
.csV-3 table.ukpwsFormLayout td.csLabel div.csLabel {
   text-align: left;
}
.csV-3 table.ukpwsFormLayout td {
   padding-right: 20px;
}
.csV-3 table.ukpwsFormLayout td.csLabel {
   padding-right: 0px;
}
.csV-3 table.ukpwsFormLayout div.csFields {
   width: 90%;
   padding-right: 25px;
}
.csV-3 table.ukpwsFormLayout div.csFields label {
	font-weight: bold;
}
.csV-3 table.ukpwsFormLayout p.csChecks-h,
.csV-3 table.ukpwsFormLayout div.csChecks-v {
   width: 100%;
}

.csV-3 table.ukpwsFormLayout td.ukpwsMultiLineLabel > div.csFields > div.csIconHint {
	display: block;
}

/*----- ukpwsForm - misc stuff ----------------------------------------------------------------- */
.csV-3 table.ukpwsFormLayoutCompact td.csLabel div.csLabel {
   padding-right: 0px;
}

.csV-3 table.ukpwsFormLayoutLabelsRight td.csLabel div.csLabel {
   text-align: right;
   padding-right: 12px;
}

.csV-3 table.ukpwsFormLayoutFieldsMax input.csTextField,
.csV-3 table.ukpwsFormLayoutFieldsMax textarea,
.csV-3 table.ukpwsFormLayoutFieldsMax select {
   width: 90%;
}

.csV-3 table.ukpwsFormLayoutSingleFieldMax input.csTextField,
.csV-3 table.ukpwsFormLayoutSingleFieldMax textarea,
.csV-3 table.ukpwsFormLayoutSingleFieldMax select {
   width: 100%;
}
.csV-3 table.ukpwsFormLayoutSingleFieldMax div.csFields {
   padding-right: 29px;
}

.csV-3 table.ukpwsFormLayoutInline {
   width: auto;
}
.csV-3 table.ukpwsFormLayoutInline td.csLabel div.csLabel {
   padding-right: 0px;
}
.csV-3 table.ukpwsFormLayoutInline div.csFields {
   padding-right: 29px;
   width: auto;
}

.csV-3 table.ukpwsFormLayout.ukpwsFormLayoutCompact td div.csFields {
   padding-bottom: 0px;
   margin-bottom: 15px;
}
.csV-3 table.ukpwsFormLayout.ukpwsFormLayoutCompact td.csError div.csFields {
   background-position: 100% 100%;
}

.csV-3 table.csTableForm.ukpwsFormLayoutWide {
   width: 700px; /* sum of col.csLabels and col.csFields (see below) */
}
.csV-3 table.csTableForm.ukpwsFormLayoutWide > colgroup > col.csFields {width:460px;}
.csV-3 table.csTableForm.ukpwsFormLayoutWide select.csField-long {
    width: 429px;
}

.csV-3 table.ukpwsFormLayoutNoIcons td {
	padding-right: 10px;
}
.csV-3 table.ukpwsFormLayoutNoIcons td div.csFields {
	width: 100%;
	padding-right: 0px;
}

/*----- Forms in vertical tab section----------------------------------------------------------- */
.csV-3 div.ukpwsVerticalTabs table.csTableReview,
.csV-3 div.ukpwsVerticalTabs table.csTableForm {
	width: 100%;
}
.csV-3 div.ukpwsVerticalTabs table.csTableReview > colgroup > col.csLabels,
.csV-3 div.ukpwsVerticalTabs table.csTableReview > colgroup > col.csFields,
.csV-3 div.ukpwsVerticalTabs table.csTableForm > colgroup > col.csLabels,
.csV-3 div.ukpwsVerticalTabs table.csTableForm > colgroup > col.csFields {
	width: 50%;
}
.csV-3 div.ukpwsVerticalTabs table.csTableReview > tbody > tr > td.csLabel > div.csLabel {
    padding-right: 37px;
}

/*----- ukpwsCompositeFieldPhone --------------------------------------------------------------- */
.csV-3 .ukpwsCompositeFieldPhone div.csFields {
   padding-right: 24px;
}
.csV-3 .ukpwsCompositeFieldPhone input.csField-short {
   width: 24px;
}
.csV-3 .ukpwsCompositeFieldPhone input.csField-med {
   width: 37px;
}
.csV-3 .ukpwsCompositeFieldPhone input.csField-long {
   width: 72px;
}

/*----- ukpwsCompositeFieldDate ---------------------------------------------------------------- */
.csV-3 .ukpwsCompositeFieldDate div.csFields {
   padding-right: 24px;
}
.csV-3 .ukpwsCompositeFieldDate input.csField-short {
   width: 24px;
}
.csV-3 .ukpwsCompositeFieldDate input.csField-med {
   width: 37px;
}
.csV-3 .ukpwsCompositeFieldDate input.csField-long {
   width: 72px;
}

/*----- ukpwsCompositeFieldPeriod -------------------------------------------------------------- */
.csV-3 .ukpwsCompositeFieldPeriod div.csFields > span {
   padding-right: 10px;
}
.csV-3 .ukpwsCompositeFieldPeriod select.csField-short {
   width: 55px;
}

.csV-3 span.ukpwsStaticField {
   color: #000000;
   position: relative;
   top: 6px;
   line-height: 1.5em;
   font-size: 13px;
}

.csV-3 table.csTableForm span.ukpwsPrefix {
   display: inline-block;
   padding-bottom: 3px;
   vertical-align: bottom;
   font-size: 13px;
}
.csV-3 table.csTableForm span.ukpwsPrefix.ukpwsStaticField {
   vertical-align: inherit;
}
.csV-3 table.csTableForm .ukpwsShortPrefix span.ukpwsPrefix {
   width: 15px;
}
.csV-3 table.csTableForm .ukpwsShortPrefix input.csField-short {
   width: 45px;
}
.csV-3 table.csTableForm .ukpwsShortPrefix input.csField-long {
   width: 213px;
}
.csV-3 table.csTableForm .ukpwsMediumPrefix span.ukpwsPrefix {
   width: 30px;
}
.csV-3 table.csTableForm .ukpwsMediumPrefix input.csField-long {
   width: 198px;
}
.csV-3 table.csTableForm .ukpwsLongPrefix span.ukpwsPrefix {
   width: 50px;
}
.csV-3 table.csTableForm .ukpwsLongPrefix input.csField-long {
   width: 178px;
}

/*----- Added on behalf of HFF1 Team A Sprint 10 Demo comment point no. 1 ---------------------------- */
.csV-3 span.ukpwsStaticField2 {
    color: #000;
    position: relative;
    top: 6px;
    line-height: 1.5em;
    font-size: 16px;
}



/*************************************************************************************************/
/* Navigation                                                                                    */
/*************************************************************************************************/
.csV-3 a {
   background-image: url("images/navs/link.gif");
   background-repeat: no-repeat;
   background-position: 100% 100%;
   padding-right: 12px;
}

.csV-3 p a,
.csV-3 a.ukpwsLinkPlain,
.csV-3 .csPanel div.csHeadingCol a.ukpwsLinkPlain {
   text-decoration: underline;
   background-image: none;
   padding-right: 0;
}

.csV-3 a.ukpwsErrorMsgToggle {
   padding-right: 0;
}

.csV-3 a.ukpwsLinkHeading {
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
}

.csV-3 a.ukpwsLinkPopup {
   background-image: url("images/navs/linkPopup.gif");
   padding-right: 17px;
}
.csV-3 a.ukpwsLinkDown {
   background-image: url("images/navs/linkDown.gif");
}
.csV-3 a.ukpwsLinkUp {
   background-image: url("images/navs/linkUp.gif");
}
.csV-3 a.ukpwsLinkNoIcon,
.csV-3 .ukpwsLinkNoIcon > a {
   background-image: none;
   padding-right: 0px;
}

.csV-3 a:hover,
.csV-3 a:focus {
   color: #db0011;
   text-decoration: underline;
}

.csV-3 a.ukpwsLinkPopup:hover,
.csV-3 a.ukpwsLinkPopup:focus {
   text-decoration: none;
}

/*----- Navigation - vertical tabs ------------------------------------------------------------- */
.csV-3 div.ukpwsVerticalTabs > div.csCol-1 {
   width: 33%;
   background-image: url("images/navs/tabsVertical/border.gif");
   background-position: 100% 0;
   background-repeat: repeat-y;
}
.csV-3 div.ukpwsVerticalTabs > div.csCol-2 {
   width: 67%;
}
.csV-3 div.ukpwsVerticalTabs div.csCol-2 > div {
   padding-left: 25px;
}
.csV-3 div.ukpwsVerticalTab {
   background-color: #f0f0f0;
   background-image: url("images/navs/tabsVertical/unselectedRight.png");
   background-position: 100% 50%;
   background-repeat: no-repeat;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   padding: 10px 18px 10px 10px;
   position: relative;
   min-height: 30px;
}
.csV-3 div.ukpwsVerticalTabHeading {
   border-bottom: 1px solid #ccc;
   padding: 10px;
   font-size: 16px;
   line-spacing: 20px;
}
.csV-3 div.ukpwsVerticalTab a {
   color: #000;
   background-image: none;
}
.csV-3 div.ukpwsVerticalTab a:hover {
   color: #f00;
   background-color: transparent;
}
.csV-3 div.ukpwsVerticalTabSelectedTab {
   background-image: none;
}
.csV-3 div.ukpwsVerticalTabSelectedTab a {
   color: #db0011;
}
.csV-3 div.ukpwsVerticalTabSelectedTab div.ukpwsVerticalTabChevron {
   background-image: url("images/navs/tabsVertical/selectedRight.gif");
   background-position: 50% 50%;
   background-repeat: no-repeat;
   width: 15px;
   height: 100%;
   position: absolute;
   top: 0px;
   right: -15px;
}

/*----- Tabs ------------------------------------------------------------------------ */
.csV-3 .oh .csTabsInPage.ukpwsTabs2 {
   padding-bottom: 0px;
}
.csV-3 .oh .csTabsInPage.ukpwsTabs2 > ul {
   background-image: none;
}
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-2 > ul > li.csNavItem-0 { width: 50%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-3 > ul > li.csNavItem-0 { width: 33%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-3 > ul > li.csNavItem-0.csNavLast { width: 34%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-4 > ul > li.csNavItem-0 { width: 25%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-5 > ul > li.csNavItem-0 { width: 20%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-6 > ul > li.csNavItem-0 { width: 16%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-7 > ul > li.csNavItem-0 { width: 14%; }
.csV-3 div.csTabsInPage.ukpwsTabs2.ukpwsTabCount-8 > ul > li.csNavItem-0 { width: 12%; }
.csV-3 div.csTabsInPage.ukpwsTabs2 > ul > li.csNavItem-0.csNavLast > div.csNavWrap {
   border-right: 1px solid #cecece;
}
.csV-3 div.csTabsInPage.ukpwsTabs2 > ul > li.csNavItem-0 > div.csNavWrap {
   background-image: none;
   background-color: #fff;
   margin-bottom: 0px;
   border-top: 1px solid #cecece;
   border-bottom: 1px solid #cecece;
   border-left: 1px solid #cecece;
}
.csV-3 div.csTabsInPage.ukpwsTabs2 > ul > li.csNavItem-0.csNavOn > div.csNavWrap {
   background-color: #626469;
   border-bottom: 1px solid #626469;
}
.csV-3 div.csTabsInPage.ukpwsTabs2 > ul > li.csNavItem-0 > div.csNavWrap > a {
   color: #000;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
   text-align: left;
   padding: 10px;
}
.csV-3 div.csTabsInPage.ukpwsTabs2 > ul > li.csNavItem-0.csNavOn > div.csNavWrap > a {
   background: none;
   color: #fff;
}
.csV-3 div.csTabsInPage.ukpwsTabs2 div.csNavWrap > a > span {
   font-size: 14px;
   font-weight: bold;
   line-height: 19px;
}

.csV-3 div.ukpwsTabs2Header {
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
   padding: 10px;
   background-color: #626469;
   border-left: 1px solid #cecece;
   border-right: 1px solid #cecece;
}

/*************************************************************************************************/
/* Text                                                                                          */
/*************************************************************************************************/
.csV-3 .ukpwsMainIntro {
   color: #000;
   font-size: 28px;
   font-weight: bold;
   line-height: 34px;
   margin-bottom: 24px;
}
.csV-3 .ukpwsArticleTitle {
   color: #000;
   font-size: 24px;
   font-weight: bold;
   line-height: 30px;
   margin-bottom: 24px;
}
.csV-3 .ukpwsLargerHeading {
   color: #000;
   font-size: 20px;
   font-weight: bold;
   line-height: 25px;
   margin-bottom: 24px;
}
.csV-3 .ukpwsSecondaryIntroText {
   color: #000;
   font-size: 20px;
   font-weight: normal;
   line-height: 25px;
   margin-bottom: 24px;
   padding-left: 0px;
   margin-left: 40px;
}
/*************************************************************************************************/
/* Custome Styles for Service Type Manage Pages             */
/*************************************************************************************************/
.csV-3 .ukpwsSecondaryIntroText1{
   color: #000;
   font-size: 20px;
   font-weight: normal;
   line-height: 25px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsSecondarySmallFont{
   color: #000;
   font-size: 18px;
   font-weight: normal;
   line-height: 20px;
}
.csV-3 .ukpwsMainHeading {
   color: #000;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsTertiaryIntroText {
   color: #000;
   font-size: 16px;
   font-weight: normal;
   line-height: 23px;
   margin-bottom: 24px;
}
.csV-3 .ukpwsSmallerHeading {
   color: #000;
   font-size: 14px;
   font-weight: normal;
   line-height: 19px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsCallToAction {
   color: #000;
   font-size: 14px;
   font-weight: normal;
   line-height: 19px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsSubHeading {
   color: #000;
   font-size: 13px;
   font-weight: bold;
   line-height: 18px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsBodyCopy {
   color: #4c4c4d;
   font-size: 12px;
   font-weight: normal;
   line-height: 18px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsBodyCopyCompact {
   color: #4c4c4d;
   font-size: 12px;
   font-weight: normal;
   line-height: 14px;
   margin-bottom: 10px;
}
.csV-3 .ukpwsSecondaryBodyCopy {
   color: #7A7A7A;
   font-size: 12px;
   font-weight: normal;
   line-height: 18px;
   margin-bottom: 10px;
}

.csV-3 span.ukpwsMainIntro,
.csV-3 span.ukpwsArticleTitle,
.csV-3 span.ukpwsSecondaryIntroText,
.csV-3 span.ukpwsLargerHeading,
.csV-3 span.ukpwsSmallerHeading,
.csV-3 span.ukpwsMainHeading,
.csV-3 span.ukpwsCallToAction,
.csV-3 span.ukpwsSubHeading,
.csV-3 span.ukpwsBodyCopy,
.csV-3 span.ukpwsSecondaryBodyCopy {
   display: inline-block;
}

.csV-3 .ukpwsTypeMargin1 {
   margin-bottom: 10px;
}
.csV-3 .ukpwsTypeMargin2 {
   margin-bottom: 24px;
}

.csV-3 span.ukpwsTextBlock {
   display: block;
}
.csV-3 span.ukpwsTextStrong {
   font-weight: bold;
}
.csV-3 span.ukpwsTextStrikethrough {
   text-decoration: line-through;
}
.csV-3 span.ukpwsTextNegative {
   color: #db0011;
}
.csV-3 span.ukpwsTextHighlightPositive,
.csV-3 a.ukpwsTextHighlightPositive,
.csV-3 div.csTabsInPage.ukpwsTabs2 div.csNavWrap.ukpwsTextHighlightPositive > a > span {
   color: #000000;
}
.csV-3 span.ukpwsTextHighlightNeutral,
.csV-3 a.ukpwsTextHighlightNeutral,
.csV-3 div.csTabsInPage.ukpwsTabs2 div.csNavWrap.ukpwsTextHighlightNeutral > a > span {
   color: #696969;
}
.csV-3 span.ukpwsTextHighlightNegative,
.csV-3 a.ukpwsTextHighlightNegative,
.csV-3 div.csTabsInPage.ukpwsTabs2 div.csNavWrap.ukpwsTextHighlightNegative > a > span {
   color: #db0011;
}

.csV-3 .csButtonWrap {
   display: -moz-inline-box;
   display: inline-block;
   vertical-align: top;
   text-align: right; 
   background: transparent url() no-repeat left top;
   margin: 0 7px 20px 0px;
}

/*************************************************************************************************/
/* Lists                                                                                         */
/*************************************************************************************************/
div.ukpwsList2Columns > ul > li {
   display: inline-block;
   width: 44%;
   vertical-align: top;
   padding-left: 10px;
}

/*************************************************************************************************/
/* Images/Icons                                                                                  */
/*************************************************************************************************/
.csV-3 .ukpwsInlineTickIcon {
   background-image: url("images/icons/iconTick.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}
.csV-3 .ukpwsInlineTickIconRight {
   background-image: url("images/icons/iconTick.gif");
   background-repeat: no-repeat;
   background-position: right;
   padding-right: 22px;
   display: inline-block;
   min-height: 17px;
}
.csV-3 .ukpwsInlineInfoIcon {
   background-image: url("images/icons/iconInfo.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}
.csV-3 .ukpwsInlineInfoIconRight {
   background-image: url("images/icons/iconInfo.gif");
   background-repeat: no-repeat;
   background-position: right;
   padding-right: 22px;
   display: inline-block;
   min-height: 17px; 
}
.csV-3 .ukpwsInlineWarningIcon {
   background-image: url("images/icons/iconWarning.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}
.csV-3 .ukpwsInlineWarningIconRight {
   background-image: url("images/icons/iconWarning.gif");
   background-repeat: no-repeat;
   background-position: right;
   padding-right: 22px;
   display: inline-block;
   min-height: 17px;
}
.csV-3 .ukpwsInlineErrorIcon {
   background-image: url("images/icons/iconError.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}
.csV-3 .ukpwsInlineErrorIconRight {
   background-image: url("images/icons/iconError.gif");
   background-repeat: no-repeat;
   background-position: right;
   padding-right: 22px;
   display: inline-block;
   min-height: 17px;
}
.csV-3 .ukpwsInlineDownloadIcon {
   background-image: url("images/icons/iconDownload.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}

.csV-3 .ukpwsInlinePreFilledIcon {
   background-image: url("images/icons/iconPreFilled.gif");
   background-repeat: no-repeat;
   padding-left: 22px;
   display: inline-block;
   min-height: 17px; 
}

/*************************************************************************************************/
/* Other stuff                                                                                   */
/*************************************************************************************************/
.csV-3 .ukpwsJavaScriptHook {
   display: none !important;
}
.csV-3 a.ukpwsOLScrollTo {
   background-image: none;
   display: inline-block;
   height: 0px;
   width: 0px;
   border: 0;
}

/*************************************************************************************************/
/* Placeholders to gather various styles together to see where there is commonality             */
/*************************************************************************************************/
/* popupLinks used to invoke overlay/lightbox on page load */
.csV-3 .ukpwsInvokeOnLoad {
   display: none;
}

/*************************************************************************************************/
/* HMCIB Slider                                                                                  */
/*************************************************************************************************/
.csV-3 div.widget-slider-container {
   margin: 90px 0 50px 0;
   height: 55px;
   position: relative;
   border: 1px solid #d8d8d8;
   border-radius: 5px;
   -moz-box-shadow: -3px 3px 3px #d8d8d8 inset, 3px -3px 3px #d8d8d8 inset;
   box-shadow: -3px 3px 3px #d8d8d8 inset, 3px -3px 3px #d8d8d8 inset;
}
.csV-3 div.widget-slider {
   border: 0;
   height: 60px;
}
.csV-3 div.widget-slider span.handle {
   width: 0px;
   position: absolute;
   cursor: move;
   z-index: 100;
}
.csV-3 div.widget-slider span.handle.selected {
   z-index: 101;
}
.csV-3 div.widget-slider span.handle0,
.csV-3 div.widget-slider span.handle1,
.csV-3 div.widget-slider span.handle2 {
}
.csV-3 div.widget-slider span.handle span.button {
   position: relative;
   display: inline-block;
   left: -24px;
   width: 47px;
   height: 41px;
   top: 8px;
   background-color: transparent;
   color: #fff;
   font-weight: bold;
   text-align: center;
   background-image: url("images/hmcib-slider/handle.gif");
   z-index: 100;
}
.csV-3 div.widget-slider span.selected span.button {
   background-image: url("images/hmcib-slider/handleActive.gif");
   z-index: 200;
}
.csV-3 div.widget-slider span.selected span.bubble {
   z-index: 200;
}
.csV-3 div.widget-slider span.selected span.arrow {
   z-index: 200;
}
.csV-3 div.widget-slider span.handle span.bubble {
   position: relative;
   left: -69px;
   top: -113px;
   display: inline-block;
   text-align: left;
   padding: 6px 6px;
   width: 120px;
   border: 1px solid #d8d8d8;
   border-radius: 5px;
   background-color: #e4e4e4;
}
.csV-3 div.widget-slider span.handle.left span.bubble {
   left: -111px;
}
.csV-3 div.widget-slider span.handle.right span.bubble {
   left: -24px;
}
.csV-3 div.widget-slider span.handle span.bubble div.csLabel {
   text-align: left;
}
.csV-3 div.widget-slider span.handle span.bubble div.csLabel div.csIconHint {
   display: none;
}
.csV-3 div.widget-slider span.handle span.bubble label {
   font-weight: bold;
   cursor: move;
}
.csV-3 div.widget-slider span.handle span.bubble div.csFields {
   margin-top: 4px;
}
.csV-3 div.widget-slider span.handle span.bubble.csError div.csFields {
   background-position: 100% 0;
}
.csV-3 div.widget-slider span.handle span.bubble div.csFields input {
   margin-left: 10px;
   z-index: 9999;
   cursor: text;
   width: 78px;
   border: 1px solid #e8e8e8;
   margin: -2px 0 0 0;
}
.csV-3 div.widget-slider span.handle span.csError div.csFields input {
   border: 1px solid #db0011;
   color: #db0011;
}
.csV-3 div.widget-slider span.handle span.arrow {
   z-index: 13;
   position: absolute;
   top: -16px;
   float: left;
   left: -12px;
   width: 24px;
   height: 12px;
   background-color: transparent;
   background-image: url("images/hmcib-slider/bubble-arrow-down.gif");
   background-repeat: no-repeat;
   background-position: 0 0;
}
.csV-3 div.widget-slider span.span {
   height: 55px;
   display: inline-block;
   border-radius: 5px;
   position: relative;
   top: 0px;
}
.csV-3 div.widget-slider span.span1 {
   position: relative;
   top: -11px;
}
.csV-3 div.widget-slider span.span1 span.difference1Text {
  color: #FFFFFF;
   display: inline-block;
   height: 40px;
   line-height: 22px;
   margin: 6px 0 -13px 0;
   padding: 0;
  position: relative;
  text-align: center;
   width: 100%;
}
.csV-3 div.widget-slider span.ukpwsSectionBackground4 {
   background-color: #cfcfcf;
   /* see https://developer.mozilla.org/en/CSS/-moz-linear-gradient for cross browser */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#a1a1a1'); /* for IE */
   background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#a1a1a1)); /* for webkit browsers */
   background-image: -moz-linear-gradient(top,  #cfcfcf,  #a1a1a1); /* for firefox 3.6+ */ 
}
.csV-3 div.widget-slider span.ukpwsSectionBackground5 {
   background-color: #919191;
   /* see https://developer.mozilla.org/en/CSS/-moz-linear-gradient for cross browser */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#5c5c5c'); /* for IE */
   background-image: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#5c5c5c)) #000; /* for webkit browsers */
   background-image: -moz-linear-gradient(top,  #919191,  #5c5c5c); /* for firefox 3.6+ */ 
}
.csV-3 div.widget-slider-error div.widget-slider span.span1 span.difference1Text {
   color: transparent;
}

/* Slider disabled */
.csV-3 div.widget-slider-wrapper div.throbber {
   display: none;
   height: 54px;
   position: relative;
   top: -66px;
   z-index: 200px; 
}
.csV-3 div.widget-slider-disabled div.throbber {
   display: block;
   background-image: url("images/hmcib-slider/throbber.gif");
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
.csV-3 div.widget-slider-disabled div.widget-slider,
.csV-3 div.widget-slider-disabled div.widget-slider-containerx,
.csV-3 div.widget-slider-disabled div.widget-slider-scale {
   opacity: 0.5;
   filter: alpha(opacity=50); /* IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */  
}

/* Slider scale */
.csV-3 div.widget-slider-scale {
   width: 100%;
   margin: 0;
   padding: 0;
}
.csV-3 div.widget-slider-scale ul {
   display: inline-block;
   width: 100%;
   margin: 0;
}
.csV-3 div.widget-slider-scale ul li {
   font-size: 1em;
   background-image: url("images/hmcib-slider/scale-tick.gif");
   background-position: 50% 0;
   background-repeat: no-repeat;
   display: inline-block;
   width: 25%;
   float: left;
   margin: 0 0 0 0;
   padding: 7px 0 0 0;
   font-weight: bold;
}
.csV-3 div.widget-slider-scale ul li.start {
   text-align: left;
   background-position: 0% 0;
   width: 12%;
}
.csV-3 div.widget-slider-scale ul li.middle {
   text-align: center;
}
.csV-3 div.widget-slider-scale ul li.end {
   text-align: right;
   background-position: 100% 0;
   width: 13%;
}
/*************************************************************************************************/
/* Custome Styles for Service Type Manage Pages             */
/*************************************************************************************************/
.csV-3 .ukpwsSecondaryIntro{
   color: #000;
   font-size: 20px;
   font-weight: normal;
   line-height: 25px;
   margin-bottom: 10px;
}

.csV-3 .ukpwsSectionBox {
  	border: 1px solid #ccc;
	height: 540px;
	width: 49.2% !important;
}

.csV-3 .ukpwsSectionPadding6 {
	   padding-left: 40px;
}
.csV-3 .ukpwsSectionPadding7 {
    margin-bottom: -10px;
  
}
.csV-3 .ukpwsSectionPadding {
	padding: 8px 8px;
	font-size: 12px;
}

.csV-3 .ukpwsSectionVLessPadding {
	padding: 8px 8px;
}
.csV-3 .ukpwsSecondarySmallFont{
   color: #000;
   font-size: 18px;
   font-weight: normal;
   line-height: 20px;
}
.csV-3 a.ukpwsHideDots {
   outline: #fff !important;
   background-image: none;  
}