@charset "UTF-8";

/* 
   This file provides specific support for OS/browser combinations
   (excluding IE, which uses the conditional comment approach).
   It is not a replacement for good cross browser CSS, so use sparingly 
*/


/***** Windows/Safari ***************************************************/
html.windows.safari .csV-3 .csButtonWrap input.ukpwsSmall {
   padding-bottom: 4px; 
}
html.windows.safari .csV-3 .csButtonWrap a.ukpwsSmall {
	padding-top: 6px;
   padding-bottom: 5px; 
}
html.windows.safari .csV-3 .csButtonWrap button.ukpwsSmall {
	padding-top: 5px;
   padding-bottom: 4px; 
}

/***** Mac/Safari *******************************************************/
html.mac.safari .csV-3 .csButtonWrap button, 
html.mac.safari .csV-3 .csButtonWrap input.csButton,
html.mac.safari .csV-3 .csButtonWrap a.csButton {
   padding-bottom: 10px; 
}
html.mac.safari .csV-3 .csButtonWrap button.ukpwsPrimary.ukpwsSmall,
html.mac.safari .csV-3 .csButtonWrap input.csButton.ukpwsPrimary.ukpwsSmall {
   padding-bottom: 4px; 
}
html.mac.safari .csV-3 .csButtonWrap a.csButton.ukpwsPrimary.ukpwsSmall {
   padding-bottom: 5px;
}

/***** All/Chrome *******************************************************/
html.chrome .csV-3 .csButtonWrap button, 
html.chrome .csV-3 .csButtonWrap input.csButton,
html.chrome .csV-3 .csButtonWrap a.csButton {
   padding: 8px 23px 9px 8px;
}
html.chrome .csV-3 .csButtonWrap button.csAct, 
html.chrome .csV-3 .csButtonWrap input.csAct,
html.chrome .csV-3 .csButtonWrap a.csAct,
html.chrome .csV-3 .csButtonWrap button.ukpwsPrimary, 
html.chrome .csV-3 .csButtonWrap input.ukpwsPrimary,
html.chrome .csV-3 .csButtonWrap a.ukpwsPrimary,
html.chrome .csV-3 .csButtonWrap button.ukpwsPrimaryDisabled, 
html.chrome .csV-3 .csButtonWrap input.ukpwsPrimaryDisabled,
html.chrome .csV-3 .csButtonWrap a.ukpwsPrimaryDisabled {
   padding-right: 11px;
}
html.chrome .csV-3 .csButtonWrap button.ukpwsSecondaryNoIcon, 
html.chrome .csV-3 .csButtonWrap input.ukpwsSecondaryNoIcon,
html.chrome .csV-3 .csButtonWrap input.csOverlayClose,
html.chrome .csV-3 .csButtonWrap a.ukpwsSecondaryNoIcon {
   padding-right: 13px;
}
html.chrome .csV-3 .ukpwsSecondaryDelete button, 
html.chrome .csV-3 .ukpwsSecondaryDelete input.csButton {
   padding: 5px 6px 10px 6px;
}

html.chrome .csV-3 .ukpwsSecondaryDelete a.csButton {
   padding: 5px 0px 10px 0px;
}
html.chrome .csV-3 .ukpwsSecondaryBack button.csButton, 
html.chrome .csV-3 .ukpwsSecondaryBack input.csButton,
html.chrome .csV-3 .ukpwsSecondaryBack a.csButton {
   padding: 8px 12px 10px 23px;
}
html.chrome .csV-3 .ukpwsSmall button.csButton, 
html.chrome .csV-3 .ukpwsSmall input.csButton,
html.chrome .csV-3 .ukpwsSmall a.csButton {
   padding-top: 6px;
   padding-bottom: 5px;
}
html.chrome .csV-3 .ukpwsSmall button.ukpwsPrimary {
   padding-left: 8px;
}
