@charset "UTF-8";

/* FLAGS - for use in dropdowns and table cells */
select.csFlags { display:inline; background-repeat:no-repeat; padding-left:25px;}
select.csFlags option { background-repeat:no-repeat; padding-left:25px; }
span.csFlags { background-repeat:no-repeat; padding-left:25px; }
.csIsocountry-AD { background-image: url('images/flags/ad.gif'); }
.csIsocountry-AE { background-image: url('images/flags/ae.gif'); }
.csIsocountry-AF { background-image: url('images/flags/af.gif'); }
.csIsocountry-AG { background-image: url('images/flags/ag.gif'); }
.csIsocountry-AI { background-image: url('images/flags/ai.gif'); }
.csIsocountry-AL,
.csIsocurrency-ALL { background-image: url('images/flags/al.gif'); }
.csIsocountry-AM { background-image: url('images/flags/am.gif'); }
.csIsocountry-AN { background-image: url('images/flags/an.gif'); }
.csIsocountry-AO { background-image: url('images/flags/ao.gif'); }
.csIsocountry-AR,
.csIsocurrency-ARS { background-image: url('images/flags/ar.gif'); }
.csIsocountry-AS { background-image: url('images/flags/as.gif'); }
.csIsocountry-AT { background-image: url('images/flags/at.gif'); }
.csIsocountry-AU,
.csIsocurrency-AUD { background-image: url('images/flags/au.gif'); }
.csIsocountry-AW { background-image: url('images/flags/aw.gif'); }
.csIsocountry-AX { background-image: url('images/flags/ax.gif'); }
.csIsocountry-AZ { background-image: url('images/flags/az.gif'); }
.csIsocountry-BA,
.csIsocurrency-BAM { background-image: url('images/flags/ba.gif'); }
.csIsocountry-BB { background-image: url('images/flags/bb.gif'); }
.csIsocountry-BD { background-image: url('images/flags/bd.gif'); }
.csIsocountry-BE { background-image: url('images/flags/be.gif'); }
.csIsocountry-BF { background-image: url('images/flags/bf.gif'); }
.csIsocountry-BG,
.csIsocurrency-BGN { background-image: url('images/flags/bg.gif'); }
.csIsocountry-BH,
.csIsocurrency-BHD { background-image: url('images/flags/bh.gif'); }
.csIsocountry-BI { background-image: url('images/flags/bi.gif'); }
.csIsocountry-BJ { background-image: url('images/flags/bj.gif'); }
.csIsocountry-BM { background-image: url('images/flags/bm.gif'); }
.csIsocountry-BN { background-image: url('images/flags/bn.gif'); }
.csIsocountry-BO,
.csIsocurrency-BOB { background-image: url('images/flags/bo.gif'); }
.csIsocountry-BR,
.csIsocurrency-BRL { background-image: url('images/flags/br.gif'); }
.csIsocountry-BS { background-image: url('images/flags/bs.gif'); }
.csIsocountry-BT { background-image: url('images/flags/bt.gif'); }
.csIsocountry-BV { background-image: url('images/flags/bv.gif'); }
.csIsocountry-BW { background-image: url('images/flags/bw.gif'); }
.csIsocurrency-BYR,
.csIsocountry-BY { background-image: url('images/flags/by.gif'); }
.csIsocountry-BZ { background-image: url('images/flags/bz.gif'); }
.csIsocountry-CA,
.csIsocurrency-CAD { background-image: url('images/flags/ca.gif'); }
.csIsocountry-CC { background-image: url('images/flags/cc.gif'); }
.csIsocountry-CD { background-image: url('images/flags/cd.gif'); }
.csIsocountry-CF { background-image: url('images/flags/cf.gif'); }
.csIsocountry-CG { background-image: url('images/flags/cg.gif'); }
.csIsocurrency-CHF,
.csIsocountry-CH { background-image: url('images/flags/ch.gif'); }
.csIsocountry-CI { background-image: url('images/flags/ci.gif'); }
.csIsocountry-CK { background-image: url('images/flags/ck.gif'); }
.csIsocurrency-CLP,
.csIsocountry-CL { background-image: url('images/flags/cl.gif'); }
.csIsocountry-CM { background-image: url('images/flags/cm.gif'); }
.csIsocurrency-CNY,
.csIsocountry-CN { background-image: url('images/flags/cn.gif'); }
.csIsocurrency-COP,
.csIsocountry-CO { background-image: url('images/flags/cr.gif'); }
.csIsocurrency-CRC,
.csIsocountry-CR { background-image: url('images/flags/cr.gif'); }
.csIsocurrency-CSD { background-image: url('images/flags/rs.gif'); /* OBSOLETE was CSD now RSD */ }
.csIsocountry-CS { background-image: url('images/flags/cs.gif'); }
.csIsocountry-CU { background-image: url('images/flags/cu.gif'); }
.csIsocountry-CV { background-image: url('images/flags/cv.gif'); }
.csIsocountry-CX { background-image: url('images/flags/cx.gif'); }
.csIsocountry-CY { background-image: url('images/flags/cy.gif'); }
.csIsocurrency-CZK,
.csIsocountry-CZ { background-image: url('images/flags/cz.gif'); }
.csIsocountry-DE { background-image: url('images/flags/de.gif'); }
.csIsocountry-DJ { background-image: url('images/flags/dj.gif'); }
.csIsocurrency-DKK,
.csIsocountry-DK { background-image: url('images/flags/dk.gif'); }
.csIsocountry-DM { background-image: url('images/flags/dm.gif'); }
.csIsocurrency-DOP,
.csIsocountry-DO { background-image: url('images/flags/do.gif'); }
.csIsocurrency-DZD,
.csIsocountry-DZ { background-image: url('images/flags/dz.gif'); }
.csIsocountry-EC { background-image: url('images/flags/ec.gif'); }
.csIsocurrency-EEK,
.csIsocountry-EE { background-image: url('images/flags/ee.gif'); }
.csIsocurrency-EGP,
.csIsocountry-EG { background-image: url('images/flags/eg.gif'); }
.csIsocountry-EH { background-image: url('images/flags/eh.gif'); }
.csIsocountry-ER { background-image: url('images/flags/er.gif'); }
.csIsocountry-ES { background-image: url('images/flags/es.gif'); }
.csIsocountry-ET { background-image: url('images/flags/et.gif'); }
.csIsocountry-EU,
.csIsocurrency-EUR { background-image: url('images/flags/europeanunion.gif'); }
.csIsocountry-FI { background-image: url('images/flags/fi.gif'); }
.csIsocountry-FJ { background-image: url('images/flags/fj.gif'); }
.csIsocountry-FK { background-image: url('images/flags/fk.gif'); }
.csIsocountry-FM { background-image: url('images/flags/fm.gif'); }
.csIsocountry-FO { background-image: url('images/flags/fo.gif'); }
.csIsocountry-FR { background-image: url('images/flags/fr.gif'); }
.csIsocountry-GA { background-image: url('images/flags/ga.gif'); }
.csIsocountry-GB,
.csIsocurrency-GBP { background-image: url('images/flags/gb.gif'); }
.csIsocountry-GD { background-image: url('images/flags/gd.gif'); }
.csIsocountry-GE { background-image: url('images/flags/ge.gif'); }
.csIsocountry-GF { background-image: url('images/flags/gf.gif'); }
.csIsocountry-GH { background-image: url('images/flags/gh.gif'); }
.csIsocountry-GI { background-image: url('images/flags/gi.gif'); }
.csIsocountry-GL { background-image: url('images/flags/gl.gif'); }
.csIsocountry-GM { background-image: url('images/flags/gm.gif'); }
.csIsocountry-GN { background-image: url('images/flags/gn.gif'); }
.csIsocountry-GP { background-image: url('images/flags/gp.gif'); }
.csIsocountry-GQ { background-image: url('images/flags/gq.gif'); }
.csIsocountry-GR { background-image: url('images/flags/gr.gif'); }
.csIsocountry-GS { background-image: url('images/flags/gs.gif'); }
.csIsocurrency-GTQ,
.csIsocountry-GT { background-image: url('images/flags/gt.gif'); }
.csIsocountry-GU { background-image: url('images/flags/gu.gif'); }
.csIsocountry-GW { background-image: url('images/flags/gw.gif'); }
.csIsocountry-GY { background-image: url('images/flags/gy.gif'); }
.csIsocurrency-HKD,
.csIsocountry-HK { background-image: url('images/flags/hk.gif'); }
.csIsocountry-HM { background-image: url('images/flags/hm.gif'); }
.csIsocountry-HN,
.csIsocurrency-HNL { background-image: url('images/flags/hn.gif'); }
.csIsocurrency-HRK,
.csIsocountry-HR { background-image: url('images/flags/hr.gif'); }
.csIsocountry-HT { background-image: url('images/flags/ht.gif'); }
.csIsocurrency-HUF,
.csIsocountry-HU { background-image: url('images/flags/hu.gif'); }
.csIsocurrency-IDR,
.csIsocountry-ID { background-image: url('images/flags/id.gif'); }
.csIsocountry-IE { background-image: url('images/flags/ie.gif'); }
.csIsocurrency-ILS,
.csIsocountry-IL { background-image: url('images/flags/il.gif'); }
.csIsocurrency-INR,
.csIsocountry-IN { background-image: url('images/flags/in.gif'); }
.csIsocountry-IO { background-image: url('images/flags/io.gif'); }
.csIsocurrency-IQD,
.csIsocountry-IQ { background-image: url('images/flags/iq.gif'); }
.csIsocountry-IR { background-image: url('images/flags/ir.gif'); }
.csIsocurrency-ISK,
.csIsocountry-IS { background-image: url('images/flags/is.gif'); }
.csIsocountry-IT { background-image: url('images/flags/it.gif'); }
.csIsocountry-JM { background-image: url('images/flags/jm.gif'); }
.csIsocurrency-JOD,
.csIsocountry-JO { background-image: url('images/flags/jo.gif'); }
.csIsocurrency-JPY,
.csIsocountry-JP { background-image: url('images/flags/jp.gif'); }
.csIsocountry-KE { background-image: url('images/flags/ke.gif'); }
.csIsocountry-KG { background-image: url('images/flags/kg.gif'); }
.csIsocountry-KH { background-image: url('images/flags/kh.gif'); }
.csIsocountry-KI { background-image: url('images/flags/ki.gif'); }
.csIsocountry-KM { background-image: url('images/flags/km.gif'); }
.csIsocountry-KN { background-image: url('images/flags/kn.gif'); }
.csIsocountry-KP,
.csIsocurrency-KPW { background-image: url('images/flags/kp.gif'); /* NOT IN JAVA5 */ }
.csIsocountry-KR,
.csIsocurrency-KRW { background-image: url('images/flags/kr.gif'); }
.csIsocurrency-KWD,
.csIsocountry-KW { background-image: url('images/flags/kw.gif'); }
.csIsocountry-KY { background-image: url('images/flags/ky.gif'); }
.csIsocountry-KZ { background-image: url('images/flags/kz.gif'); }
.csIsocountry-LA { background-image: url('images/flags/la.gif'); }
.csIsocurrency-LBP,
.csIsocountry-LB { background-image: url('images/flags/lb.gif'); }
.csIsocountry-LC { background-image: url('images/flags/lc.gif'); }
.csIsocountry-LI { background-image: url('images/flags/li.gif'); }
.csIsocountry-LK { background-image: url('images/flags/lk.gif'); }
.csIsocountry-LR { background-image: url('images/flags/lr.gif'); }
.csIsocountry-LS { background-image: url('images/flags/ls.gif'); }
.csIsocurrency-LTL,
.csIsocountry-LT { background-image: url('images/flags/lt.gif'); }
.csIsocountry-LU { background-image: url('images/flags/lu.gif'); }
.csIsocountry-LV,
.csIsocurrency-LVL { background-image: url('images/flags/lv.gif'); }
.csIsocurrency-LYD,
.csIsocountry-LY { background-image: url('images/flags/ly.gif'); }
.csIsocurrency-MAD,
.csIsocountry-MA { background-image: url('images/flags/ma.gif'); }
.csIsocountry-MC { background-image: url('images/flags/mc.gif'); }
.csIsocountry-MD { background-image: url('images/flags/md.gif'); }
.csIsocountry-ME { background-image: url('images/flags/me.gif'); }
.csIsocountry-MG { background-image: url('images/flags/mg.gif'); }
.csIsocountry-MH { background-image: url('images/flags/mh.gif'); }
.csIsocurrency-MKD,
.csIsocountry-MK { background-image: url('images/flags/mk.gif'); }
.csIsocountry-ML { background-image: url('images/flags/ml.gif'); }
.csIsocountry-MM { background-image: url('images/flags/mm.gif'); }
.csIsocountry-MN { background-image: url('images/flags/mn.gif'); }
.csIsocountry-MO { background-image: url('images/flags/mo.gif'); }
.csIsocountry-MP { background-image: url('images/flags/mp.gif'); }
.csIsocountry-MQ { background-image: url('images/flags/mq.gif'); }
.csIsocountry-MR { background-image: url('images/flags/mr.gif'); }
.csIsocountry-MS { background-image: url('images/flags/ms.gif'); }
.csIsocountry-MT { background-image: url('images/flags/mt.gif'); }
.csIsocountry-MU { background-image: url('images/flags/mu.gif'); }
.csIsocountry-MV { background-image: url('images/flags/mv.gif'); }
.csIsocountry-MW { background-image: url('images/flags/mw.gif'); }
.csIsocountry-MX,
.csIsocurrency-MXN { background-image: url('images/flags/mx.gif'); }
.csIsocurrency-MYR,
.csIsocountry-MY { background-image: url('images/flags/my.gif'); }
.csIsocountry-MZ { background-image: url('images/flags/mz.gif'); }
.csIsocountry-NA { background-image: url('images/flags/na.gif'); }
.csIsocountry-NC { background-image: url('images/flags/nc.gif'); }
.csIsocountry-NE { background-image: url('images/flags/ne.gif'); }
.csIsocountry-NF { background-image: url('images/flags/nf.gif'); }
.csIsocountry-NG { background-image: url('images/flags/ng.gif'); }
.csIsocurrency-NIO,
.csIsocountry-NI { background-image: url('images/flags/ni.gif'); }
.csIsocountry-NL { background-image: url('images/flags/nl.gif'); }
.csIsocurrency-NOK,
.csIsocountry-NO { background-image: url('images/flags/no.gif'); }
.csIsocountry-NP { background-image: url('images/flags/np.gif'); }
.csIsocountry-NR { background-image: url('images/flags/nr.gif'); }
.csIsocountry-NU { background-image: url('images/flags/nu.gif'); }
.csIsocountry-NZ,
.csIsocurrency-NZD { background-image: url('images/flags/nz.gif'); }
.csIsocountry-OM,
.csIsocurrency-OMR { background-image: url('images/flags/om.gif'); }
.csIsocurrency-PAB,
.csIsocountry-PA { background-image: url('images/flags/pa.gif'); }
.csIsocurrency-PEN,
.csIsocountry-PE { background-image: url('images/flags/pe.gif'); }
.csIsocountry-PF { background-image: url('images/flags/pf.gif'); }
.csIsocountry-PG { background-image: url('images/flags/pg.gif'); }
.csIsocurrency-PHP,
.csIsocountry-PH { background-image: url('images/flags/ph.gif'); }
.csIsocurrency-PKR,
.csIsocountry-PK { background-image: url('images/flags/pk.gif'); }
.csIsocurrency-PLN,
.csIsocountry-PL { background-image: url('images/flags/pl.gif'); }
.csIsocountry-PM { background-image: url('images/flags/pm.gif'); }
.csIsocountry-PN { background-image: url('images/flags/pn.gif'); }
.csIsocountry-PR { background-image: url('images/flags/pr.gif'); }
.csIsocountry-PS { background-image: url('images/flags/ps.gif'); }
.csIsocountry-PT { background-image: url('images/flags/pt.gif'); }
.csIsocountry-PW { background-image: url('images/flags/pw.gif'); }
.csIsocurrency-PYG,
.csIsocountry-PY { background-image: url('images/flags/py.gif'); }
.csIsocountry-QA,
.csIsocurrency-QAR { background-image: url('images/flags/qa.gif'); }
.csIsocountry-RE { background-image: url('images/flags/re.gif'); }
.csIsocurrency-RON,
.csIsocountry-RO { background-image: url('images/flags/ro.gif'); }
.csIsocurrency-RSD,
.csIsocountry-RS { background-image: url('images/flags/rs.gif'); }
.csIsocurrency-RUB,
.csIsocountry-RU { background-image: url('images/flags/ru.gif'); }
.csIsocountry-RW { background-image: url('images/flags/rw.gif'); }
.csIsocurrency-SAR,
.csIsocountry-SA { background-image: url('images/flags/sa.gif'); }
.csIsocountry-SB { background-image: url('images/flags/sb.gif'); }
.csIsocountry-SC { background-image: url('images/flags/sc.gif'); }
.csIsocountry-SD,
.csIsocurrency-SDG { background-image: url('images/flags/sd.gif'); }
.csIsocountry-SE,
.csIsocurrency-SEK { background-image: url('images/flags/se.gif'); }
.csIsocurrency-SGD,
.csIsocountry-SG { background-image: url('images/flags/sg.gif'); }
.csIsocountry-SH { background-image: url('images/flags/sh.gif'); }
.csIsocountry-SI { background-image: url('images/flags/si.gif'); }
.csIsocountry-SJ { background-image: url('images/flags/sj.gif'); }
.csIsocountry-SK,
.csIsocurrency-SKK { background-image: url('images/flags/sk.gif'); }
.csIsocountry-SL { background-image: url('images/flags/sl.gif'); }
.csIsocountry-SM { background-image: url('images/flags/sm.gif'); }
.csIsocountry-SN { background-image: url('images/flags/sn.gif'); }
.csIsocountry-SO { background-image: url('images/flags/so.gif'); }
.csIsocountry-SR { background-image: url('images/flags/sr.gif'); }
.csIsocountry-ST { background-image: url('images/flags/st.gif'); }
.csIsocurrency-SVC,
.csIsocountry-SV { background-image: url('images/flags/sv.gif'); }
.csIsocurrency-SYP,
.csIsocountry-SY { background-image: url('images/flags/sy.gif'); }
.csIsocountry-SZ { background-image: url('images/flags/sz.gif'); }
.csIsocountry-TC { background-image: url('images/flags/tc.gif'); }
.csIsocountry-TD { background-image: url('images/flags/td.gif'); }
.csIsocountry-TF { background-image: url('images/flags/tf.gif'); }
.csIsocountry-TG { background-image: url('images/flags/tg.gif'); }
.csIsocurrency-THB,
.csIsocountry-TH { background-image: url('images/flags/th.gif'); }
.csIsocountry-TJ { background-image: url('images/flags/tj.gif'); }
.csIsocountry-TK { background-image: url('images/flags/tk.gif'); }
.csIsocountry-TL { background-image: url('images/flags/tl.gif'); }
.csIsocountry-TN { background-image: url('images/flags/tm.gif'); }
.csIsocurrency-TND,
.csIsocountry-TN { background-image: url('images/flags/tn.gif'); }
.csIsocountry-TO { background-image: url('images/flags/to.gif'); }
.csIsocurrency-TRY,
.csIsocountry-TR { background-image: url('images/flags/tr.gif'); }
.csIsocountry-TT { background-image: url('images/flags/tt.gif'); }
.csIsocountry-TV { background-image: url('images/flags/tv.gif'); }
.csIsocurrency-TWD,
.csIsocountry-TW { background-image: url('images/flags/tw.gif'); }
.csIsocountry-TZ { background-image: url('images/flags/tz.gif'); }
.csIsocurrency-UAH,
.csIsocountry-UA { background-image: url('images/flags/ua.gif'); }
.csIsocountry-UG { background-image: url('images/flags/ug.gif'); }
.csIsocountry-UM { background-image: url('images/flags/um.gif'); }
.csIsocountry-US,
.csIsocurrency-USD { background-image: url('images/flags/us.gif'); }
.csIsocountry-UY,
.csIsocurrency-UYU { background-image: url('images/flags/uy.gif'); }
.csIsocountry-UZ { background-image: url('images/flags/uz.gif'); }
.csIsocountry-VA { background-image: url('images/flags/va.gif'); }
.csIsocountry-VC { background-image: url('images/flags/vc.gif'); }
.csIsocountry-VE,
.csIsocurrency-VEF { background-image: url('images/flags/ve.gif'); }
.csIsocountry-VG { background-image: url('images/flags/vg.gif'); }
.csIsocountry-VI { background-image: url('images/flags/vi.gif'); }
.csIsocountry-VN,
.csIsocurrency-VND { background-image: url('images/flags/vn.gif'); }
.csIsocountry-VU { background-image: url('images/flags/vu.gif'); }
.csIsocountry-WF { background-image: url('images/flags/wf.gif'); }
.csIsocountry-WS { background-image: url('images/flags/ws.gif'); }
.csIsocountry-YE,
.csIsocurrency-YER { background-image: url('images/flags/ye.gif'); }
.csIsocountry-YT { background-image: url('images/flags/yt.gif'); }
.csIsocountry-ZA,
.csIsocurrency-ZAR { background-image: url('images/flags/za.gif'); }
.csIsocountry-ZM { background-image: url('images/flags/zm.gif'); }
.csIsocountry-ZW { background-image: url('images/flags/zw.gif'); }

