/* START: QuickLink */

	#rightNav #telephoneTab { }
	#rightNav #telephoneTab span { background: url("images/call.gif") 8px 8px no-repeat;display: block; font-size: 100%; padding: 5px 8px 11px 41px;/*padding: 8px 8px 11px 41px; */ line-height: 14px; }
	#rightNav #telephoneTab span strong { color:#DB0011; }
	#rightNav #telephoneTab span sup { color:#000; vertical-align:super; font-size:75%; }

/* END: QuickLink */

/* START: Site sprite */
	
	/* Used for icons */
	
	/* Default */
	.iconSet { overflow:hidden; /*position:relative;*/ }
	
	/* Screen readers text alternative */
	.iconSet .hide { position: absolute; top:-20000px; }
	.iconSet .icon { /*display:block;*/ display: -moz-inline-box; display: inline-block; *display:inline; zoom:1; 
	width: 40px; height:40px; background:url(../images/site-sprite.png) no-repeat 0 0; }
	
	/* Key elements */ 
	.iconSet .icon.greenTick { width: 40px; height:40px; background-position: -80px 0; margin:-10px;}
	.iconSet .icon.dropDownOne { width: 40px; height:40px; background-position: 0px 0; }
	.iconSet .icon.help { width: 20px; height:20px; background-position: -130px -10px; margin-bottom:-3px;}
	.iconSet .icon.help:hover { cursor:pointer; }

/*	a.help { position: relative; }*/
	
/* END: Sprite icon site */



/* START: CTA bar */
	
	#grid .grid.grid_24 .ctaRow.contactNumber,
	#grid .grid.grid_16 .ctaRow.contactNumber { border-top: 1px dotted #999; margin-top: 10px; }
	#grid .grid.grid_24 .ctaRow.contactNumber { padding:0;}
	#grid .grid.grid_16 .ctaRow.contactNumber { padding: 10px 0; }
	#grid .grid.grid_24 .ctaRow span.ctaPhone,
	#grid .grid.grid_16 .ctaRow.contactNumber span.ctaPhone { color: #DB0011; }
	#grid .grid.grid_24 .ctaRow.contactNumber { font-size: 145%; }
	#grid .grid.grid_24 .ctaRow.contactNumber p.primary { padding: 10px 0;}
	#grid .grid.grid_16 .ctaRow.contactNumber { font-size: 115%;}
	
	
/* END: CTA bar */

/* START: Disclaimer */

	#grid .contentItem .disclaimer { display:block; background:#EFEEEE; border: 1px solid #CCC; font-weight:bold; width: 928px; padding: 5px; }
    #grid .contentItem .disclaimer p { font-size: 80%;  padding: 3px 0 3px 0; text-align:center; color:#000;}
	
	#grid .productItem #smallPrint .disclaimer p,
	#grid .contentItem #smallPrint .disclaimer p { font-weight: bold; text-align: center; padding: 0 0 2px 0; margin: 0pt 0pt 10px; font-size: 80%; color:#000; }
	
	#grid .contentItem table.standardValuationFeeScale {margin-bottom:0;}
/* END: Disclaimer */


/* START: Tooltip */

	/* Layout */
	#tooltip .jsContentTooltip { background-color:#fff;  padding:0 10px 10px 10px; }
	#tooltip .jsContentTooltip .close { display:none; }
	#tooltip .jsContentTooltip img {	float:left;	margin:0px 5px 5px 0px; }
	#tooltip.reversed {	margin-left:-102px; }
	#tooltip.reversed .tooltipWrapper2 { background:url(/images/bg/bg-top-overlay-reversed.png) left top no-repeat; }
	#tooltip.reversed .tooltipWrapper3 { background:url(/images/bg/bg-bottom-overlay-reversed.png) left bottom no-repeat; }
	
	#tooltip.tooltipWrapper1 { width:270px; position:absolute; left:0px; top:0px; z-index:100; margin-left:102px; }
	#tooltip.tooltipWrapper1 .jsContentTooltip .close {	display:block; position:relative; z-index:100; }
	
	#tooltip .tooltipWrapper7 { padding-bottom:3px; }
	#tooltip .tooltipWrapper7 .jsContentTooltip * { background:#fff; }
	
	#tooltip .tooltipWrapper2 { width:270px; padding-top:24px; background:url(/images/bg/bg-top-overlay.png) left top no-repeat; }
	#tooltip .tooltipWrapper2 .close { float:right; }
	
	#tooltip .tooltipWrapper3 { padding:0px 18px 10px 16px; background:url(/images/bg/bg-bottom-overlay.png) left bottom no-repeat; }
	
	#tooltip .tooltipWrapper1.tipStyle03 { width:404px; position:absolute; left:0px; top:0px; z-index:100; margin-left:-60px; margin-top:-23px; }
	#tooltip .tipStyle03 .tooltipWrapper2 { width:404px; padding-top:0px;	background:none; }
	#tooltip .tipStyle03 .tooltipWrapper3 { padding:30px 23px 10px; background:url(/images/bg/tooltip3-top.png) left top no-repeat; }
	#tooltip .tipStyle03 .tooltipWrapper7 { padding:0px; }
	#tooltip .tipStyle03 .tooltipWrapper8 { background:url(/images/bg/tooltip3-bottom.png) left bottom no-repeat; height:16px; }
	#tooltip .jsContentTooltip { overflow:hidden; }

	/* Content */
	#tooltip .jsContentTooltip h4 { background:#fff; margin: 0 0 10px 0; padding:0;/* font-size:125%;*/ line-height:18px;}
	#tooltip .jsContentTooltip p { line-height:18px; font-size:75%;}
	#tooltip .tipStyle03 h3 { font-size:81.25%;	border-bottom:1px solid #B2B2B2; margin-bottom:10px; }

	/*p span.jsContentTooltip { font-size:85.71%;	padding-top:10px; display:block; }*/
	/*#calulatorTabs .jsContentTooltip { padding:0px 10px 0px 5px; }*/
	/*.extProduct #tooltip .jsContentTooltip { clear: both; }*/
	#tooltip .tooltipWrapper7 p { font-size:85%; padding-top:5px; line-height:16px;}
	#tooltip .tooltipWrapper7 {padding-bottom:10px;}


/* END: Tooltip */




/* START: Grid tweaks */

	/*#grid .grid_24 .productItem { width:940px; }*/
	

/* END: Grid tweaks */




/* START: Tweaks to the product Row default */
/*
	#grid .grid_16 .productRow { padding-top: 10px;}
	#grid .grid_16 .productRow h4 {padding:0 0 10px 0; font-size:112.5%; line-height:24px;  }
	#grid .grid_16 .productRow .productItem ul { padding-left:0;  font-size: 85%;}
	#grid .grid_16 .productRow .productItem ul li { padding-top:3px; }
	#grid .grid_16 .productRow .productItem ul li span { margin-top:-3px; }
*/
	
	#grid .grid_16 .productRow h4 { padding-bottom:10px; }

/* END: Tweaks to the product Row default */




/* START: Product Details */

	#grid .productDetails  { clear:both;/*float:left;margin-top: 20px;*/ width:940px; /*clear:both; margin: 20px 0 20px 0; float:left;*/ /*display:block;*/}
	#grid .productDetails h2 { margin: 10px 0 10px 0; font-size:140% }
	#grid .productDetails h4 { margin: 0 0 0 0; }
	#grid .productDetails h5 {/* margin: 20px 0 0 0;*/ font-size:85%; }
	#grid .productDetails .productDetailsRow { padding: 20px 0 0 0; /*display:block;float:left;*/}
	#grid .productDetails table { width:100%; }
	#grid .productDetails table thead th,
	#grid .productDetails table thead td { background:#e4e4e4; padding: 10px 20px 10px 20px; border:none; }
	#grid .productDetails table tbody th, 
	#grid .productDetails table tbody td {  padding: 10px 20px 10px 20px; vertical-align:top; border-top: 1px dotted #CCC; border-bottom: 1px dotted #CCC; font-size:85%; line-height: 16px;}
	
	#grid .productDetails table tbody tr.controls { display:none; }
	.js #grid .productDetails table tbody tr.controls { display:table-row; }

	#grid .productDetails table tbody a.jsSelector {/*position: relative;*/ display: block; font-weight:bold; padding:0px ; /*padding:10px 40px 11px 10px; margin:-10px 30px -10px 30px; display:block; float:left; clear:both;*/}
	.js #grid .productDetails table tbody a.jsSelector {padding:0px 0px 0px 40px ; }
	#grid .productDetails table tbody a.jsSelector .iconSet { /*position:absolute; top:-12px; left: -12px; */ float:left;  margin:-13px 0 -13px -45px;display: none;  }
	.js #grid .productDetails table tbody a.jsSelector .iconSet { display: block; }
	#grid .productDetails table tbody a.jsSelector.selected .iconSet .icon.dropDownOne { background-position: -40px 0;  }
	#grid .productDetails table tbody div.jsContent { display:block; padding: 10px 0 0 0; font-size:85%; line-height: 16px; color:#4C4C4C; }
	.js #grid .productDetails table tbody div.jsContent { padding: 0 0 0 40px;}
	
	#grid .productDetails table tbody div.jsContent p { padding: 10px 0 0 0; line-height:16px; font-size:110%;}
	#grid .productDetails table tbody div.jsContent.open { }
	

	#grid .productDetails table td.last { width: 130px; }
	#grid .productDetails table { width:100%; }
	
	#grid .productDetails table tbody tr.controls td {  border: 0 none; padding: 20px 0 20px 0; font-size:110%; }
	
	#grid .productDetails table td.last .iconSet .icon.greenTick { margin:-10px 0 -10px -10px;}
	
	#grid .productDetails table.threeColumns .col2 { width:100px;}
	#grid .productDetails table.threeColumns .last { width:100px;}
	
	#grid .productDetails table.fiveColumns .col2 { width:100px;}
	#grid .productDetails table.fiveColumns .col3 { width:100px;}
	#grid .productDetails table.fiveColumns .col4 { width:100px;}
	#grid .productDetails table.fiveColumns .last { width:100px;}
	
	#grid .productDetails table span.smallNote { font-size:90%; padding-top:10px; display:block; }
	
	/* Variants */
	#grid .calculator .productDetails { width:665px; margin:20px; clear:both; }
	#grid .calculator .productDetails table tbody div.jsContent { /*font-size:120%;*/ }
	#grid .calculator .productDetails table td.last { width:90px; }
	#grid .calculator .productDetails a.helper { text-decoration:underline;}
	#grid .calculator .productDetails a.helper:hover, #grid .calculator .productDetails a.helper:active,  #grid .calculator .productDetails a.helper:focus { color: #db0011;}
	
	#grid .calculator .productDetails .section { /*padding-top: 20px;*/ padding-bottom:30px; }
	#grid .calculator .productDetails .section h3 { /*background: #EFEEEE;*/ padding:10px 0px 10px 0px;}
	.js #grid .calculator .productDetails .section h3 { padding-bottom: 0px;}
	#grid .calculator .productDetails .section table { margin: 0 -10px; }
	#grid .calculator .productDetails table tbody td { font-size: 80% }
	 
	#grid .calculator .productDetails table.tableStyle02 { }
	.js #grid .calculator .productDetails table.tableStyle02 { margin-top:-50px; }
	#grid .calculator .productDetails table.tableStyle02 tr.controls { display:none; }
	.js #grid .calculator .productDetails table.tableStyle02 tr.controls { display:table-row; *display:inline;  }
	#grid .calculator .productDetails table.tableStyle02 tr.controls td { background:0; border-top:0 none; text-align:right; font-size:75%; }
	#grid .calculator .productDetails table.tableStyle02 tr.controls td .expandAll {float:right; font-size:135%;}
	#grid .calculator .productDetails table.tableStyle02 col.first { width: auto;  }
	#grid .calculator .productDetails table.tableStyle02 col.last { width: 120px; }
	#grid .calculator .productResults.footer { background:#EFEEEE; display:block; overflow:hidden; margin:0;/*margin:-20px;*/ padding:20px 15px 10px 20px;}
	#grid .calculator .productResults.footer .buttonHolder { padding:0;}
	
	.calculator #kfiHelp { clear:left; margin-top:20px;}
	.calculator #kfiHelp p { padding-top: 10px;}
	

/* END: Product Details */



/* START: Product Compare */
	#grid .productCompare {/* margin-top: 20px;*/ width:940px; }
	#grid .productCompare table { font-size:85%;}
	#grid .productCompare table p { font-size:85%; line-height:18px;}
	#grid .productCompare table th,
	#grid .productCompare table td {  padding:20px; background: #f0f0f0; border-bottom: 1px solid #CCC; width:200px; vertical-align:top; }
	#grid .productCompare table th.first,
	#grid .productCompare table td.first { background: #FFF; width:200px; }
	#grid .productCompare table thead th { border-bottom: 1px dotted #CCC; }
	#grid .productCompare table thead th.first { border-bottom: 0 none; background: #FFF; }
	#grid .productCompare table tbody tr.first td { border-bottom: 0 none;padding-bottom:0; }
	#grid .productCompare table tbody th {  }
	#grid .productCompare table tbody td {  }
	
	#grid .productCompare table th.col3,
	#grid .productCompare table td.col3 { background: #e4e4e4; }
	
	#grid .productCompare table tbody a.jsSelector { font-size:100%; font-weight:bold;  display:block; }
	#grid .productCompare table tbody a.jsSelector .iconSet { float:left; margin:-11px 0 -50px -50px; display:none;}
	.js #grid .productCompare table tbody a.jsSelector { padding-left: 40px;}
	.js #grid .productCompare table tbody a.jsSelector .iconSet { float:left; margin:-11px 0 -50px -50px;  display:inline;}
	#grid .productCompare table tbody a.jsSelector.selected .iconSet .icon.dropDownOne { background-position: -40px 0; }
	#grid .productCompare table tbody div.jsContent { display:block; padding: 10px 0 0 0; }
	#grid .productCompare table tbody div.jsContent p { line-height:18px;  padding-top: 10px;}
	#grid .productCompare table tbody div.jsContent.open {}
	
	
	#grid .productCompare table tbody tr.second td { font-weight:bold; line-height: 34px; vertical-align:middle; font-size:95%; }
	#grid .productCompare table tbody tr.second td .greyBtn { margin:0; font-size: 135%;  }
	#grid .productCompare table tbody tr.second td .expandAll { display:none;}
	.js #grid .productCompare table tbody tr.second td .expandAll { display:inline;}

	#grid .productCompare table td .iconSet .icon.greenTick { margin:-10px; }

	
	/* find and compare compare */
	.productCompare2 { padding-top:10px; }
	.productCompare2 table { width: 940px; }
	.productCompare2 table th,
	.productCompare2 table td { padding: 15px; font-size:80%; border:1px solid #FFF; border-top:0 none; vertical-align:top;}
	
	.productCompare2 table thead th,
	.productCompare2 table .footer td { background: #DBDCDD; border-bottom:0 none; /*width:155px*/}
	.productCompare2 table thead th.firstCol { width:351px;}
	.productCompare2 table td .greyBtn { font-size:135%;}
	.productCompare2 table tr.rowStyle02.first td { padding-top:0; background: #DBDCDD; }
	
	#grid .productCompare2 table tr.rowStyle02.first td .expandAll { display:none; }
	.js #grid .productCompare2 table tr.rowStyle02.first td .expandAll { display:block; }
	
	.productCompare2 table tbody tr.rowStyle01 td,
	.productCompare2 table tbody tr.rowStyle01.rowStyle03 td,
	.productCompare2 table tbody tr.rowStyle01.rowStyle03.jsRowStyle01 td { background:#F0F0F0;}
	.productCompare2 table tbody tr.rowStyle01.rowStyle03.jsRowStyle01 td { padding:0; border-bottom:1px solid #FFF; }
	.productCompare2 table tbody tr.rowStyle01.rowStyle03 td { background:#FFF; }

	.productCompare2 table tbody tr.rowStyle02 td,
	.productCompare2 table tbody tr.rowStyle02.rowStyle03.jsRowStyle01 td { background: #E4E4E4;}
	
	.productCompare2 table tbody tr.rowStyle02.rowStyle03 td { background:#FFF; }
	
	.productCompare2 table tbody tr.rowStyle02.rowStyle03.jsRowStyle01 td { padding:0; border-bottom:1px solid #FFF; }
	.productCompare2 table tbody .jsContent { display:block; width:880px; padding:20px; margin-bottom:-5px; background:#FFF; border:1px solid #CCC; margin:10px; }
	#grid .productCompare2 table tbody .jsContent p { font-size: 95%; line-height: 16px; padding-bottom: 10px; }
	
	#grid .productCompare2 table tbody a.jsSelector { font-size:100%; font-weight:bold; display:block; }
	#grid .productCompare2 table tbody a.jsSelector .iconSet { float:left; margin:-11px 0 -50px -50px; display:none;}
	.js #grid .productCompare2 table tbody a.jsSelector {padding-left: 40px;}
	.js #grid .productCompare2 table tbody a.jsSelector .iconSet {  display:inline; }
	#grid .productCompare2 table tbody a.jsSelector.selected .iconSet .icon.dropDownOne { background-position: -40px 0; }


	.comparisonWrapper { padding: 10px 0 0 0; width:940px; }
	.comparisonWrapper .comparisonNotice { padding: 10px; background: #FBE5E7; border:1px solid #D6D3D6; }
	#grid .comparisonWrapper .comparisonNotice p.clearB { padding: 0;  }
/* END: Product Compare */






/* START: KFI */
	.KeyFacts #APAccordion{margin-top:18px; }
	.KeyFacts { float:left; display:block; width:940px; border:1px solid #CCC; overflow:hidden;}
	.KeyFacts .header {float:left; display:block; width:900px; padding:20px;  background:#EFEEEE;}
	.KeyFacts .content { float:left; width:100%;  padding-bottom:20px; }
	.KeyFacts .contentInner { padding:20px;  }
	.KeyFacts .contentInner h3 { margin-bottom:20px;  }
	.KeyFacts .step { float:left; width:900px; margin:2px 0 0 0; border:1px solid #CCC; }
	.KeyFacts .step .stepHead { float:left; width:100%; background: #CCC; }
	#grid .KeyFacts .step .stepHead .stepHeadInner h3 { padding: 10px; margin:0; font-weight:normal;}
	#grid .KeyFacts .step .stepHead .stepHeadInner h3 span { padding-right:10px; font-weight:bold;}
	.KeyFacts .step .stepHead .iconSet { float:right; display:none; }
	.KeyFacts .step.completed .stepHead .iconSet { display:block; }
	.KeyFacts .step.completed.expanded .stepHead .iconSet { display:none; }

	.KeyFacts .step.expanded .row,
	.KeyFacts .step.expanded .stepFoot { display:block; }
	.KeyFacts .step .row {display:none; clear:both; padding:10px;  font-size: 75%;}
	#grid .grid .KeyFacts .step .row p { font-size: 100%; }
	#grid .grid .KeyFacts .step .row p.pdf { padding: 10px 0 20px 0; }
	#grid .grid .KeyFacts .step .row .pdfLink {font-size:100%;}
	.KeyFacts .step .row table {  width:100%;}
	.KeyFacts .step .row table th,
	.KeyFacts .step .row table td { padding:10px; border: 1px solid #FFF; width:25%; }
	.KeyFacts .step .row table tr.alt th,
	.KeyFacts .step .row table tr.alt td {background: #EFEEEE;}
	#grid .grid .KeyFacts .step .row .column { clear:left; float:left; display:block; padding:10px; width:860px; }
	#grid .grid .KeyFacts .step .row .column .formRow.chkbox label {  padding-left: 10px; margin-top:2px; } 
	.KeyFacts .step.expanded .stepFoot { display: block}
	.KeyFacts .step .stepFoot { display:none; clear:left; width:880px; float:left; margin: 10px; border-top: 1px dotted #CCC; border-bottom: 1px dotted #CCC;}
	.KeyFacts .step .stepFootInner {padding: 10px 0; float:right;}
	#grid .KeyFacts .step .stepFootInner p.buttonStyle01.noGlyph { text-align:right; margin:10px 10px 0 0; font-size:100%; }

	#grid .KeyFacts h4 { margin: 20px 0 10px 0; font-size:150%;}
	#grid .KeyFacts h5 { margin: 10px 0 5px 0; font-size:125%;}
	
	.KeyFacts #personalDetailsForm { position:relative;}
/*	.KeyFacts #personalDetailsForm h4 { margin: 20px 0 10px 0; font-size:130%;}
*/	.KeyFacts #personalDetailsForm p.mandatory { text-align:right; position: absolute; top:10px; right:10px; padding:0 0 0 10px; background:url(../images/bg/row_mandatory.gif) left center no-repeat; }
	.KeyFacts #personalDetailsForm .formRow { clear:left; float:left; width:100%; padding-bottom: 10px;}
	.KeyFacts #personalDetailsForm .formRow .labelColumn { float:left; width: 250px; text-align:right; padding:3px 10px 0 0; margin-right:20px; background:url(../images/bg/row_mandatory.gif) right center no-repeat;}
	.KeyFacts #personalDetailsForm .formRow .labelColumn label { font-weight:bold; padding-top: 5px; }
	.KeyFacts #personalDetailsForm .formRow .inputColumn {float:left; width: 500px;}
	.KeyFacts #personalDetailsForm .formRow .inputColumn input,
	.KeyFacts #personalDetailsForm .formRow .inputColumn select { border:1px solid #CCC; width: 200px; padding:3px; }
	.KeyFacts #personalDetailsForm .formRow .inputColumn select.short { width: 80px; }
	.KeyFacts #personalDetailsForm .formRow .inputColumn select#title { width: 208px; }
	 
	
	.KeyFacts #personalDetailsForm .formRow .captchaColumn {margin-left: 280px; padding-top: 10px; } 
	 
	.KeyFacts .formRow .errorMessage { clear:both;  background:url(/images/bg/form_error_message.gif) no-repeat scroll right bottom transparent; display:block; width:360px; margin-top:3px; padding-bottom: 1px; }
	.KeyFacts .formRow .errorMessage .errorMessageInner { background:url(/images/bg/form_error_message_vsml.gif) no-repeat scroll left top transparent; display:block;padding: 20px 10px 10px 10px; line-height:18px; }
	.KeyFacts #personalDetailsForm .formRow .errorMessage { margin-left: 176px; }

/* START: KFI */




/* START: Agreement In Principle */
	.agreementInPrinciple { float:left; display:block; width:940px; border:1px solid #CCC; background:#EFEEEE; overflow:hidden;}
	
	#grid .agreementInPrinciple h4 {}
	#grid .agreementInPrinciple p { padding: 10px 0 0 0; line-height:14px;}
	
	.agreementInPrinciple .header {float:left; display:block; width:636px; padding:20px 10px 20px 20px; margin:-20px 0 20px -20px;  background:#EFEEEE; overflow:hidden; }
	.agreementInPrinciple .header h2 { float:left; }
	.agreementInPrinciple .header .buttonHolder { float: right; display: block; text-align: right; margin: -10px; }
	
	.agreementInPrinciple .content { float:left; width:666px; background:#FFF; border-right:1px solid #ccc; -moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc; }
	.agreementInPrinciple .contentInner { padding:20px; overflow:hidden; }
	#grid .agreementInPrinciple .contentInner .customerName { font-size: 145%; font-weight: bold; padding: 0 0 10px 0; }
	#grid .agreementInPrinciple .contentInner .offerStatement { font-size: 100%; line-height: 30px; font-weight:bold; }	
	#grid .agreementInPrinciple .contentInner .offer { font-size: 285%; font-weight:bold; padding: 20px; line-height: 22px; border:1px solid #CCC; text-align:center; margin:20px 70px 10px 70px; -moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc;}	
	#grid .agreementInPrinciple .contentInner .offerConditions { padding: 10px 0;}
	#grid .agreementInPrinciple .contentInner .legalNotice { font-weight:bold; }	
	
	#grid .agreementInPrinciple .contentInner .greyInfoBox { padding: 20px; margin:20px 0 0 0; display: block; background: #EFEEEE; border: 1px solid #CCC; }
	
	.agreementInPrinciple .sideBar { float: right; width:270px;}
	.agreementInPrinciple .sideBar .sideBarInner { padding:20px; }
	.agreementInPrinciple .sideBar .printButton { display:block; padding:0 0 30px 0; }
	
	.agreementInPrinciple .sideBar .callDetails {}
	#grid .agreementInPrinciple .sideBar .callDetails .callBack { font-weight: bold; padding: 10px 0 20px 0; font-size: 100%; line-height: 18px; }
	#grid .agreementInPrinciple .sideBar .callDetails .message { padding:10px 0; }
	#grid .agreementInPrinciple .sideBar .callDetails .telephone { font-size:180%; color:#DB0011; white-space:nowrap; padding:10px 0;}
	#grid .agreementInPrinciple .sideBar .callDetails .telephone sup { font-size:75%; font-weight:normal; color:#000; vertical-align:super;  }
	#grid .agreementInPrinciple .sideBar .callDetails .textPhone { padding: 0px 0 20px 0; font-size: 75%; }
	
	.agreementInPrinciple .sideBar .nextSteps { }
	.agreementInPrinciple .sideBar .nextSteps h3 { margin-bottom:20px;  }
	.agreementInPrinciple .sideBar .nextSteps .nextStepsTitle { padding:0;}
	.agreementInPrinciple .sideBar .nextSteps .steps { clear:both; float:right; padding:10px 0;}
	.agreementInPrinciple .sideBar .nextSteps .or { clear:both;  padding:0; text-align:center;}
	#grid .agreementInPrinciple .sideBar .nextSteps .steps a.greyBtn { float:right;}
	#grid .agreementInPrinciple .sideBar .nextSteps .steps a.help { float:right; padding:6px 0 0 10px }
	
/* START: Agreement In Principle */




/* START: Search List */
	
	#grid .searchList { float:left; }
	#grid .searchList ul.catalogue {}
	#grid .searchList ul.catalogue li { margin-top: 20px; font-size:100%;}
	#grid .searchList ul.catalogue a.jsSelector { font-size:100%; font-weight:bold; padding-left: 40px; padding-bottom:20px; display:block; }
	#grid .searchList ul.catalogue a.jsSelector .iconSet { float:left; margin:-11px 0 -50px -50px;}
	#grid .searchList ul.catalogue a.jsSelector.selected .iconSet .icon.dropDownOne { background-position: -40px 0; }
	#grid .searchList ul.catalogue div.jsContent { display:block; padding: 10px 0 0 0; }
	#grid .searchList ul.catalogue div.jsContent p { line-height:18px;  padding-top: 10px;}
	#grid .searchList ul.catalogue div.jsContent.open {}

/* END: Search List */




/* START: Jargon buster */

	#jargonSearch { display: none; padding-bottom: 20px; clear:both; }
	#jargonSearch .formRow { position:relative; }
	#jargonSearch .topWrapper { }
/*	#jargonSearch iframe { position:abolute; top:0; left: 0;}
	#grid #searchBoxdropdown { position:absolute; background:green; }
	#grid #searchBoxdropdown ul li { list-style-image:none; padding:0 0 5px 0; }
*/	


	#jargonSearch iframe {
		background-attachment: scroll;
		background-clip: border-box;
		background-color: #FFFFFF;
		background-image: none;
		background-origin: padding-box;
		background-position: 0 0;
		background-repeat: repeat;
		background-size: auto auto;
		position: absolute;
	}

	#jargonSearch #searchBoxdropdown{ position:absolute; top:0; left: 0; border: 1px solid #CCC; display:block;}
	#jargonSearch label { /*position:absolute; left:-2000px;*/ display: block; height: 0; overflow: hidden; }
	#jargonSearch #searchBox { 
		padding: 8px;
		z-index:200;
		margin: 0 10px 0 0;
		float: left;
		width:300px;
		font-size:85%;
		border: 1px solid #CCC;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	}
	
	#jargonSearch #searchBox.noInput { font-style:italic; color:#666; }


	/* Error messages */
	#jargonSearch .formRow .ajaxErrorContent { clear:both; margin: 3px 0 3px 0; float:left; width:100%;}
	#jargonSearch .formRow .errorMessage { background:url(/images/bg/form_error_message.gif) no-repeat scroll right bottom transparent; display:block;  padding-bottom:1px; clear:both; font-size:75%; }
	#jargonSearch .formRow .errorMessage .errorMessageInner { background:url(/images/bg/form_error_message_vsml.gif) no-repeat scroll left top transparent; display:block;padding: 20px 10px 10px 10px; line-height:18px; }

	
	

/* END: Jargon buster */









/* START: Important */
	#grid .important { float:left; display:block; background:#EFEEEE; border: 1px solid #CCC; padding: 0px; /*margin-bottom: 30px;*/ width:940px; }
	#grid .important .importantInner { padding: 15px 20px 15px 20px;}
	#grid .important .importantInner h4 { margin-bottom: 10px; }
	#grid .important .importantInner p { font-size: 75%; line-height:16px; }
	#grid .important .importantInner p a {text-decoration: underline;}
	#grid .important .importantInner p a:hover,
	#grid .important .importantInner p a:active,
	#grid .important .importantInner p a:focus {color: #DB0011;}
/* */


/* START: Drop content */

	#grid .dropContent { clear:both; padding:0 0 10px 0; float:left; width:940px;}
	#grid .grid.grid_16 .dropContent { clear:both; padding:0 0 10px 0; float:left; width:600px;}
	#grid .dropContent p.linkStyle01 { margin-bottom: 20px; }
	#grid .dropContent ul { /*padding:0 0  10px 0; */ border-top: 1px dotted #CCC; }
	#grid .dropContent ul li { margin-top: 10px; font-size:100%; padding: 0 0 0 20px; border-bottom: 1px dotted #CCC; margin: 0; }
	#grid .dropContent ul li p { line-height:18px; padding:0 0 10px 0; }
	#grid .dropContent ul a.jsSelector { font-size:100%; font-weight:bold; padding-left: 40px; padding-bottom:10px; padding-top:10px; display:block; }
	#grid .dropContent ul a.jsSelector .iconSet { float:left; margin:-11px 0 -50px -50px;}
	#grid .dropContent ul li.open a.jsSelector .iconSet .icon.dropDownOne { background-position: -40px 0; }
	#grid .dropContent ul div.jsContent { display:block; padding: 10px 0 0 0; }
	#grid .dropContent ul div.jsContent p { line-height:18px;  padding-top: 10px;}
	#grid .dropContent ul div.jsContent.open {}
	
	#grid .dropContent .contentBlockInner { padding-left: 40px; font-size:100%; padding-bottom: 10px; } 


	/* Custom for ourMortgages */
	#grid .dropContent .linkStyle01 { display:none;}
	.js #grid .dropContent .linkStyle01 { display:block; padding:10px 0; overflow:hidden; text-align:right;}

	
	#grid .dropContent ul.ourMortgages { /*margin-right:20px;*/ float:left; width:940px; padding-bottom:0px;  border-top: none; }
	#grid .dropContent ul.ourMortgages li { float: left; width:100%;display:block; clear:both;  height: auto; background:#D3D3D3; border-bottom: 1px dotted #CCC; padding: 0; margin: 0 0 2px 0; border-top: none;border-bottom: none; }
	
	#grid .dropContent ul.ourMortgages li a.jsSelector { width:500px;  padding: 10px 20px 10px 20px; float:left; line-height:16px;}
	#grid .dropContent ul.ourMortgages li a.jsSelector .iconSet { display:none; }
	
	.js #grid .dropContent ul.ourMortgages li a.jsSelector { margin-left:40px; }
	.js #grid .dropContent ul.ourMortgages li a.jsSelector .iconSet { float:left; display:inline;   margin:-11px 0 -50px -50px;}
	
	#grid .dropContent ul.ourMortgages li span.textStyle10 { /*padding-bottom:20px; padding-top:20px;*/ margin: 10px 20px 10px 20px; display:inline; line-height:16px; font-size: 80%; float:right; }
	
	#grid .dropContent ul.ourMortgages li span.clear { clear:both; }


	#grid .dropContent ul.ourMortgages li .contentBlock { float:left; width:100%;clear:both; display:block; background:#FFF; } 
	#grid .dropContent ul.ourMortgages li .contentBlockInner {padding: 0;} 
	#grid .dropContent ul.ourMortgages li .contentBlock h3 { float:left; width:900px; background: #EFEEEE; display:block; padding: 10px 20px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; } 
	/*#grid .dropContent ul.ourMortgages li .contentBlock ul { padding: 0; } */
	#grid .dropContent ul.ourMortgages li .contentBlock ul li {/* float:left; */width:900px; display:block; padding: 5px 20px 5px 20px; margin: 0;  border-top: none; border-bottom:1px dotted #CCC;background: none;/* vertical-align:top;*/ } 
	#grid .dropContent ul.ourMortgages li .contentBlock ul li.last { border-bottom: none; padding-bottom: 8px; } 
	#grid .dropContent ul.ourMortgages li .contentBlock ul.first { border-top: none;  } 
	#grid .dropContent ul.ourMortgages li .contentBlock ul li.last.end { border-bottom:1px dotted #CCC;  } 
	
	
	#grid .dropContent ul.ourMortgages li .contentBlock ul li span.QulifyCriteria{ font-size:65%; }
	
	/* Offers */
/*	#grid .dropContent ul.offers { overflow:hidden; width: 100%;}
	#grid .dropContent ul.offers li {overflow:hidden; width: 100%; margin-bottom:20px;}
	#grid .dropContent ul.offers li .contentBlock { float:left;border:none; margin-left:40px; margin-right:60px;  display:block; } 
	#grid .dropContent ul.offers li .contentBlockInner {  float:left; border:1px solid #CCC; padding:0; width: 800px; } 
	*/
	
	#grid .dropContent ul.offers { overflow:hidden; width: 100%;}
	#grid .dropContent ul.offers li { overflow:hidden; width: 100%; }
	#grid .dropContent ul.offers li .contentBlock { width: 100%; display: inline} 
	#grid .dropContent ul.offers li .contentBlockInner { width: 820px; border:1px solid #CCC; padding:0; margin-bottom:20px; margin-left:40px;} 



	#grid .dropContent ul.offers li .contentBlock .offer {overflow: hidden; width: 100%; /*margin-bottom:10px;*/ }
	#grid .dropContent ul.offers li .contentBlock .offer h3 { background:#CCC; padding:10px; font-size:85%;  } 
	
	#grid .dropContent ul.offers li .contentBlock .offer .details {  float:left; width:610px; margin:10px; line-height:16px; height:auto !important; height:35px; }
	#grid .dropContent ul.offers li .contentBlock .offer .details p { margin: 0 0 10px 0;}
	#grid .dropContent ul.offers li .contentBlock .offer .details ul {font-size:80%;border:none;  } 
	#grid .dropContent ul.offers li .contentBlock .offer .details ul li { background: url(../images/icons/greyArrow.gif) 0 2px no-repeat;  padding:0 0 10px 15px; border:none;line-height:16px;  vertical-align:top;} 	
	
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar {  float:right; margin: 10px; text-align:right;}
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .cta {  float:right; } 
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .cta a.greyBtn { margin-right:0; min-height:35px; height:auto !important; height:35px;}
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .image { clear:right;  float:right; margin: 10px 10px; text-align:right;} 
	





/*
	#grid .dropContent ul.offers li .contentBlock .offer { display:inline; float:left; overflow:hidden; margin-bottom:10px; width:100%; min-height:200px; height:auto !important; height:200px;}
	#grid .dropContent ul.offers li .contentBlock .offer h3 { background:#CCC; padding:10px; font-size:85%;  } 
	
	#grid .dropContent ul.offers li .contentBlock .offer .details {  clear:none; float:left; line-height:16px; width:610px; margin:10px; background:red;  overflow:hidden;}
	#grid .dropContent ul.offers li .contentBlock .offer .details p { margin: 0 0 10px 0;}
	#grid .dropContent ul.offers li .contentBlock .offer .details ul { margin: 0 0 0 15px; font-size:80%;border:none;  } 
	#grid .dropContent ul.offers li .contentBlock .offer .details ul li { list-style:outside disc;  padding:0 0 10px 0; border:none; vertical-align:text-top; } 	
	
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar {  float:right; margin: 10px 10px 10px 10px; text-align:right;}
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .cta {  float:right; } 
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .cta a.greyBtn { margin-right:0; min-height:35px; height:auto !important; height:35px;}
	#grid .dropContent ul.offers li .contentBlock .offer .sidebar .image { clear:right;  float:right; margin: 10px 10px; text-align:right;} 
	
	#grid .dropContent ul.offers li .contentBlock ul { border:none; margin:10px 0 0 0; } 
	#grid .dropContent ul.offers li .contentBlock ul li { border:none; padding:0 0 10px 0; font-size:80%;  margin:0;} 
	*/
	

	
		
/* END: Drop content */




/* START: submenu tabs */

	#grid .submenu { margin: 10px 20px 0 0; text-align:center; clear:both; height:100%; overflow:visible; }
	#grid .submenu ul li {  position: relative; float:left; }
	#grid .submenu ul li a {  display:block; /*border-left:1px solid #FFF; */padding-bottom:13px; }
	#grid .submenu ul li a span { display:block; text-align:center; font-weight:bold; border-top:1px solid #d1d0d1; /*border-right:1px solid #fff;*/ border-left:1px solid #d1d0d1;border-bottom:0 none; }
	#grid .submenu ul li.last a span { border-right:1px solid #ccc; }
	#grid .submenu ul li.selected a {  background: url(../images/uk-content/inner-tabs-chevron.png) no-repeat bottom; }
	#grid .submenu ul li.selected a span { background:#767676; color:#FFF;  }
	#grid .submenu ul li a span span.double { margin:-10px 0 -10px 0; border:0 none; background:none; padding:4px;}
	#grid .submenu ul li a span {
		display:block;
		background: #ffffff url(../images/uk-content/inner-tabs-background.png) repeat-x bottom; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#cccccc 100%); /* W3C */
		padding: 20px 40px 20px 40px;
		
	}
	
	/* Hoverover states */
	#grid .submenu ul li a:hover span { background:#DD0011; color:#FFF; text-decoration:none !important; }
	#grid .submenu ul li a:hover  { text-decoration:none !important; }
	#grid .submenu ul li.selected a:hover  { background: url(../images/uk-content/inner-tabs-chevron-hover.png) no-repeat bottom; }

















		/*#grid .submenu3 ul.tabs.five {height: 50px; overflow: hidden; position: relative;}
		#grid[id] .submenu3 ul.tabs.five {display: table; position: static;}
		
		#grid .submenu3 ul.tabs.five li {position: absolute; top: 50%;} / for explorer only/
		#grid[id] .submenu3 ul.tabs.five li {display: table-cell; vertical-align: middle; width: 100%;}
		
		#grid .submenu3 ul.tabs.five li a {position: relative; top: -50%} / for explorer only /
		 optional: #inner[id] {position: static;} */




		#grid .submenu3 ul.tabs.five {/*float:left;*/} 
		#grid .submenu3 ul.tabs.five li {float:left; display:block;} 

		#grid .submenu3 ul.tabs.five li a { height: 50px; overflow: hidden; position: relative;
			
			
		}
		#grid[id] .submenu3 ul.tabs.five li a {display: table; position: static;
			display:block;
			width:106px;
			/*padding: 20px 40px 20px 40px;*/
			
			background: #ffffff url(../images/uk-content/inner-tabs-background.png) repeat-x bottom; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #ffffff 0%,#cccccc 100%); /* W3C */
		
		}
		
		#grid .submenu3 ul.tabs.five li a span.outer {position: absolute; top: 50%; 
			
			
			
		} /* for explorer only*/
		#grid[id] .submenu3 ul.tabs.five li a span.outer { display: table-cell; vertical-align: middle; /*width: 100%;*/
			width:106px;
			text-align:center;
		}
		
		#grid .submenu3 ul.tabs.five li span span.inner {position: relative; top: -50%

		} /* for explorer only */
		/* optional: #inner[id] {position: static;} */



		











	/* five column full width */
	#grid .submenu2 ul.tabs.five { clear:both; float:left; /*display:block; min-height:10px; */}
	#grid .submenu2 ul.tabs.five li { float:left; border-top:1px solid #ccc; height:50px; /**/ }
	
	#grid .submenu2 ul.tabs.five li a { display:block; /*height:100%;*/ padding-bottom: 20px;
		display:block;
		/*width:106px;*/
		font-weight: bold;
		text-align:center;
		line-height:100%;
		margin: auto 0 auto 0; 
	}
	
	#grid .submenu2 ul.tabs.five li.last a { 

	
	}

	#grid .submenu2 ul.tabs.five li a span { 	
		display:block;
		width:106px;
		height: 100px;
		font-weight: bold;
		text-align:center;
		line-height:18px;
		vertical-align:middle;
		padding: 20px 40px 20px 40px;
		border-left:1px solid #ccc; 
		background: #ffffff url(../images/uk-content/inner-tabs-background.png) repeat-x bottom; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#cccccc 100%); /* W3C */
	}
	
/*	#grid .submenu2 ul.tabs.five li.single a span { padding: 30px 40px 30px 40px; }
*/	
	#grid .submenu2 ul.tabs.five li.last a span { border-right:1px solid #ccc;}
	
	#grid .submenu2 ul.tabs.five li.clear { clear:left; display:none; }

	
	
	
	
	
	
	
	
	
	
	
	
	

/* END: Homepage calculator tabs */





/* START: Form buttons */	

	/**/
	.jqmWindow a.greyBtn span, 
	.jqmWindow a.redBtn span,
	#grid a.greyBtn span,
	#grid a.redBtn span { font-size:73.5% }
	
	.jqmWindow a.redBtn span,
	#grid a.redBtn span { background-color:#9C0009; }
		
	/* Defaults */
	button::-moz-focus-inner { padding: 0; border: 0 } 

	button.greyBtn:active,
	button.greyBtn:focus{/*-moz-box-shadow:0 0px 5px #C80; border:1px dotted #000; text-decoration:underline !important;*/}

	button.greyBtn:hover,
	button.redBtn:hover {  /*text-decoration:none; color:#fff; background-image:url("../images/content/bg_btn_left_hover.gif");*/  cursor:pointer;}
	
	button.greyBtn:hover span,
	button.redBtn:hover span {  /*text-decoration:none; background:#db0011 url("../images/content/bg_btn_hover.gif") right top no-repeat;*/ color:#db0011;  }
	
	
	/* Red */
	button.redBtn { background: url("../images/content/bg_btn_left.gif") left top no-repeat; display:inline-block; *display:inline; 
		overflow: visible;
		color:#FFF;
		margin:0px;
		padding:0 0 2px 3px;
		text-decoration: none;
		vertical-align: middle;
		white-space: nowrap;
		text-align:center;
		font-weight:bold;
		font-size:75%;
		width:auto;
		text-shadow: none;
		line-height:32px;
		text-decoration: none;
		margin-right:10px;
	
	}
	
	button.redBtn span {
		/*position: relative;*/
		display:inline-block;
		*display:inline; 
		white-space: nowrap;	
		float:left;
		background:#9C0009 url("../images/content/bg_btn.gif") right top no-repeat;
		/*display:inline-block;*/
		line-height:30px;
		padding:0 13px 3px 10px;
		margin:0px 0px 0px 0px;
		*margin:-1px 0px 0px 0px;/*ie fix*/
	}
	
	
	button.redBtn::-moz-focus-inner {
		border: none;  /* overrides extra padding in Firefox */
	}
	
	
	button.redBtn:hover,
	button.redBtn:active,
	button.redBtn:focus { color:#FFF; cursor: pointer; background-image: url("../images/content/bg_btn_left_hover.gif"); }
	
	button.redBtn:hover span,
	button.redBtn:active span,
	button.redBtn:focus span { color:#FFF; cursor:pointer; background-image: url("../images/content/bg_btn_hover.gif"); }
	
    
	
	
	
	
	
	
	/* Grey */
	button.greyBtn {
		background: url("../images/content/bg_lightgrey_btn_left.gif") left top no-repeat;
		display:inline-block;
		height: 33px;
		color:#000;
		margin:0 10px 0 0;
		padding:0 0 0 3px;
		text-decoration: none;
		vertical-align: middle;
		white-space: nowrap;
		text-align:center;
		font-weight:bold;
		font-size:87.5%;
		overflow-x: visible;
		overflow-y: visible;
		width:auto;
		text-shadow: none;
		line-height:33px;
		text-decoration: none;
		
		
		

    
		background:url("../images/content/bg_lightgrey_btn_left.gif") left top no-repeat;
		display:block;
		font-weight:bold;
		float:left;
		padding:0 0 0 4px;
		color:#000;
		margin:0 10px 0 0;
		
	}
	
	button.greyBtn span {
		background: url("../images/content/bg_lightgrey_btn.gif") right top no-repeat;
		display:inline-block;
		line-height:33px;
		height:33px;
		padding:0 23px 0 10px;
		margin:0px 0px 0px 0px;
		font-size:87.5%;
		color:#000;
		/*background:url("../images/content/bg_lightgrey_btn.gif") right top no-repeat;*/
		display:block;
		float:left;
		
		line-height:14px;
		padding:9px 23px 10px 8px;

	}
	
	
	button.greyBtn:hover,
	button.greyBtn:active,
	button.greyBtn:focus {color: #DB0011;cursor: pointer;}

	button.greyBtn:hover span,
	button.greyBtn:active span,
	button.greyBtn:focus span {color: #DB0011;cursor: pointer;}
	
	button.greyBtn:active span,
	button.greyBtn:focus span { text-decoration:underline; }
	
	
	
	
	
/* END: Form buttons */		




/* START: Disabled buttons */	

	span.redBtn {
		background: url("../images/content/bg_redbtn_disabled_left.gif") left top no-repeat;
		display:block;
		font-weight:bold;
		float:left;
		padding:0 0 0 4px;
		color:#FFF;
		margin:0 10px 0 0;
	}
	
	span.redBtn span {
		display:block;
		float:left;
		font-size:87.5%;
		line-height:14px;
		padding:9px 23px 10px 8px;
		background:#b0b0b0 url("../images/content/bg_redbtn_disabled.gif") right top no-repeat;
		padding:9px 12px 10px 8px;
	}
	
/* END: Disabled buttons */	





/* START: Calculator General */

	.calculator { overflow:hidden; /*height:100%; float:left; */clear:both; background:#efeeee;   /*display: block;min-height:373px;*/ width:938px; /*margin-bottom: 30px; display: table; */border:1px solid #d1d0d1;  }
	.calculator.showImage { background:#efeeee url(../images/bg/red_house_960x373.jpg) no-repeat left top; min-height:350px; height:auto !important; height:350px;}
	
	.calculator .calculatorInner { overflow:hidden; background: url(../images/bg/calculator-form-wide.png) repeat-y; }
	.calculator.showImage .calculatorInner { background: url(../images/bg/calculator-form-narrow.png) repeat-y; }

/* END: Calculator General */


/* START: Homepage calculator tabs */

	#grid .toolTabs { margin: -20px 20px 0 0; text-align:center; clear:both; height:100%; overflow:visible;}
	#grid .toolTabs ul li {  position: relative; float:left; width:313px;  }
	#grid .toolTabs ul li a {  display:block; /*border-left:1px solid #FFF; */padding-bottom:13px; }
	#grid .toolTabs ul li a span { display:block; text-align:center; font-weight:bold; border-top:1px solid #d1d0d1; /*border-right:1px solid #fff;*/ border-left:1px solid #d1d0d1;border-bottom:0 none;}
	#grid .toolTabs ul li.last a span { border-right:1px solid #ccc; }
	#grid .toolTabs ul li.selected a {  background: url(../images/uk-content/inner-tabs-chevron.png) no-repeat bottom; }
	#grid .toolTabs ul li.selected a span { background:#767676; color:#FFF;  }
	#grid .toolTabs ul li a span {
		display:block;
		background: #ffffff url(../images/uk-content/inner-tabs-background.png) repeat-x bottom; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#cccccc 100%); /* W3C */
		display:block; padding: 20px; 
		
	}
	
	/* Hoverover states */
	#grid .toolTabs ul li a:hover span { background:#DD0011; color:#FFF; text-decoration:none !important; }
	#grid .toolTabs ul li a:hover  { text-decoration:none !important; }
	#grid .toolTabs ul li.selected a:hover  { background: url(../images/uk-content/inner-tabs-chevron-hover.png) no-repeat bottom; }

/* END: Homepage calculator tabs */











/* START: Calculator Form */

	.calculator .form { background:#FFF; float:left; /*display:block;*/ overflow: hidden; display:table-cell; vertical-align:top; width: 400px; border-right:1px solid #ccc;	/*-moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc; box-shadow:0 0 20px #ccc; padding-bottom: 32767px;	margin-bottom: -32767px;*//* margin:20px;border:1px solid #ccc; padding:0;*/}
	.calculator .form.withdraw { width: 686px;  }
	.calculator .form .formInner { /*width: 376px; float:left; */ display:table;      }
	.calculator .form .formInner .aboutcalculator { width: 320px; float:left; padding:20px; }
	.calculator .form .header { display:block; background:#efeeee; padding: 20px;  }
	.calculator .form .header h2 { /*display:block; background:#efeeee; padding: 20px; */}
	.calculator .form p { /*line-height: 18px;*/ padding-bottom:10px; /*font-size:100%;*/ clear:left; }
/*	.calculator .form #compareTool2 { padding: 20px; clear:both; }
*/	.calculator .form .contentStyle26 { padding: 20px; clear:both; }
	



	
/* END: Calculator Form */



/* START: Calculator (Information) */

	.calculator .information { float:right; width: 250px;}
	
	.calculator .information .cantact { padding: 20px; }
	.calculator .information .cantact h3 { padding-bottom: 10px; }
	#grid .calculator .information .cantact .phoneNumber { color: #DB0011; font-size: 180%; padding-bottom: 4px;  }
	#grid .calculator .information .cantact .phoneNumber sup { color: #000; font-size: 75%; vertical-align:super; padding-bottom: 4px;  }
	

	
	.calculator .information .offer { padding: 20px; vertical-align:bottom; }
	.calculator .information .offer h3 { color: #DB0011; padding-bottom: 10px; }
	.calculator .information .offer p { line-height: 18px; padding-bottom: 10px;}
	.calculator .information .offer a.redLink { font-size:100%; }
	.calculator .information .offer .Banner { padding: 0px;  background:#FFF; border:1px solid #CCC; overflow:hidden;-moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc; box-shadow:0 0 20px #ccc; }
	.calculator .information .offer .Banner .clear { clear:both; }
	.calculator .information .offer .Banner .revolverOneCol{overflow:hidden;}
	#grid .grid .calculator .information .offer .Banner .revolverBelt .inner .column { padding: 0 5px 5px 0; width:200px; }
	
	.calculator .information .offer .Banner .revolverWindow { display:block; background:none; overflow:hidden; width:200px; height:160px;  }
	.calculator .information .offer .Banner .revolverWindow .revolverBelt { }
	.calculator .information .offer .Banner .revolverWindow .revolverBelt .inner{ display:inline;}
	.calculator .information .offer .Banner .revolverWindow .revolverBelt .inner .column { background:none; padding:0; }
	
	.calculator .information .offer .Banner .revolverNavigation { padding:5px 5px 2px 5px;}
	.calculator .information .offer .Banner .revolverNavigation ul { padding-right: 0px;}
	.calculator .information .offer .Banner .revolverNavigation ul li a { background-color: transparent; }
	.calculator .information .offer .Banner .revolverNavigation .revolverPager { padding-bottom:5px;}
	
	
	
	
	/* Product page */
	.calculator .productResults h3 { font-size:125%; margin-bottom:10px; }
	.calculator .productResults h4 { margin-bottom:10px; }
	
	.calculator .productResults .keyFeatures { clear:both; margin-bottom:20px; }
	.calculator .productResults .keyFeatures h4 { float:left; width:300px; }
	.calculator .productResults .keyFeatures ul { clear:both; }
	.calculator .productResults .keyFeatures ul li { margin-bottom:10px;list-style:disc; margin-left:15px; line-height:16px;  }
	.calculator .nextSteps { padding:20px;}
	.calculator .nextSteps div {clear:both; display:block;}
	#grid .calculator .nextSteps div a.redBtn,
	#grid .calculator .nextSteps div a.greyBtn { float:right;margin-right:0; }
	#grid .calculator .nextSteps div a.help { float:right; padding-top:6px; padding-right:10px; }
	#grid .calculator .nextSteps div .jsContentTooltip { padding: 10px 0 0 0; }
	#grid .calculator .nextSteps div .jsContentTooltip h4 { font-size:85%;}
	#grid .calculator .nextSteps div .jsContentTooltip p { padding-top: 5px; }
	.calculator .nextSteps div .or {padding: 5px 0; text-align:center;}
	#grid .calculator .nextSteps .nextStepsTitle { display:block; padding: 10px 0 20px 0; }
	#grid .calculator .nextSteps .nextStepsTitle strong { /*display:block; padding: 5px 0 0 0 ;*/  }
	
	
	.calculator .information .nextSteps { padding:10px; background:#666; margin:5px; }
	#grid .calculator .information .nextSteps p { line-height: 14px; }
	.calculator .information .nextSteps .nextStepsInner {  background:#FFF; overflow:hidden; padding:5px;}
	.calculator .information .nextSteps .nextStepsInner h3 { padding-bottom:10px;}
	.calculator .information .nextSteps .nextStepsInner .message {padding-bottom:10px;}
	.calculator .information .nextSteps .nextStepsInner .steps { padding: 0;}
	.calculator .information .nextSteps .nextStepsInner .steps .help { float: right; padding: 6px 2px 0 0; }
	.calculator .information .nextSteps .nextStepsInner .steps .textStyle93 { clear:both; float: right; padding-top: 6px; }
	.calculator .information .nextSteps .nextStepsInner .steps .or { padding:5px 0;}
	
	
	/* Find and compare - results */
	
	#grid .resultsTableContainer .contentItem table { width: 940px; table-layout: auto; /*display:table;*/}
	
	.resultsTableContainer .contentItem table thead th,
	.resultsTableContainer .contentItem table tbody td { padding:5px; line-height:16px; vertical-align:top;}

	.resultsTableContainer .contentItem table thead th.mortgages,
	.resultsTableContainer .contentItem table tbody td.mortgages { width: 175px;}
	
	.resultsTableContainer .contentItem table thead th.ltv,
	.resultsTableContainer .contentItem table tbody td.ltv { width: 95px; }
	
	.resultsTableContainer .contentItem table thead th.rate,
	.resultsTableContainer .contentItem table fbody td.rate { width: 95px; }
	
	.resultsTableContainer .contentItem table thead th.svr,
	.resultsTableContainer .contentItem table tbody td.svr { width: 95px; }
	
	.resultsTableContainer .contentItem table thead th.overallCost,
	.resultsTableContainer .contentItem table tbody td.overallCost { width: 115px; }
	
	.resultsTableContainer .contentItem table thead th.bookingFee,
	.resultsTableContainer .contentItem table tbody td.bookingFee { width: 95px; }
	
	.resultsTableContainer .contentItem table thead th.repayment,
	.resultsTableContainer .contentItem table tbody td.repayment { width: 115px; }
	
	#grid .resultsTableContainer .contentItem table thead th.compare,
	.resultsTableContainer .contentItem table tbody td.compareCol {  background:#F5D5D6; text-align:center; border-bottom:0 none; }
	
	.resultsTableContainer .contentItem table tbody td.compareCol { width:20px; }
	
	.resultsTableContainer .contentItem table tbody td.moreLink { width: 135px;}
	#grid .resultsTableContainer .contentItem table tbody td.moreLink a.greyBtn { font-size:135%; text-decoration:none;}
	#grid .resultsTableContainer .contentItem table tbody td.moreLink a.greyBtn span { white-space:nowrap;}
	
	#grid .resultsTableContainer .contentItem table thead th.compare.lastCol { width:155px; text-align:left; font-size:75%;font-weight: normal; vertical-align: top; }
	#grid .resultsTableContainer .contentItem table thead th.compare.lastCol button {  vertical-align:middle; font-size: 100%; }
	#grid .resultsTableContainer .contentItem table thead th.compare.lastCol button span { font-size:130%;font-weight:bold;float:left; display:inline-block; *display:inline; line-height: 30px; padding: 0 13px 3px 10px; color:#FFF; }
	
	#grid .resultsTableContainer .contentItem table thead th ,
	#grid .resultsTableContainer .contentItem table tr.footerRow td { font-size:75%; color:#000; background:#DBDCDD; font-weight:bold; }
	#grid .resultsTableContainer .contentItem table tr.footerRow td button { font-size:130%; }
	#grid .resultsTableContainer .contentItem table tr.footerRow td button span { *margin:-2px 0px 0px 0px;/*ie fix*/ }
	#grid .resultsTableContainer .contentItem table tr.footerRow td.compare.lastCol { font-size:75%; font-weight:normal; background:#F5D5D6; width:135px; }
	

/* END:	Calculator (Information) */




/* START: Calculator (Find and compare) */

/*	#compareTool2 {padding: 20px;}
*/	
	.calculator .contentStyle26-form
	{
		/*background:url(/images/bg/contentStyle26-bg-top.gif) no-repeat top left;*/
		/*width:100%;
		float:left;*/
		clear: both;
		padding-bottom: 0;
	}
	
	.calculator .contentStyle26-form-inner {/*clear:both; margin-bottom: 10px;  float:left; */height: 1%; /*padding: 20px 24px 17px 10px;*/ }
	.calculator .compareToolSlideCont:after,
	.calculator .contentStyle26-form-inner:after { content:".";	display:block; height:0px; clear:both; visibility:hidden; }
	.calculator .contentStyle26-col { float:left; width:250px; }
	.calculator .contentStyle26-col-inner {	padding:11px; }
	
	
	
	/*
	.calculator .formRow { clear:both; width: 100%; padding-bottom:10px; overflow:hidden; }
	.calculator .formRow .labelColumn { display:block; float:left; width: 140px; text-align:right;font-size: 80%;}
	.calculator .formRow .labelColumn label { padding:4px 8px 0 0; display:block;text-align:right; line-height:14px; }
	.calculator .formRow .inputColumn { float:right; width: 220px; font-size: 80%;}
	.calculator .formRow .inputColumn input { line-height: 20px; padding: 3px; width: 200px; }
	
	
	.calculator .formRow .inputColumn .selectStyle { overflow:hidden; width: 230px; background: url(../images/mortgages/calculators/SelectBox220.png) no-repeat; padding-right: 100px; }
	.calculator .formRow .inputColumn .selectStyleInner { width: 200px; overflow:hidden; }
	.calculator .formRow .inputColumn .selectStyle select { width: 230px; padding: 6px 3px 6px 3px; margin:0; background: transparent; }
	*/
	
	
	
	
	
	
	
	/*
	
	WORKING BUT NOT FULL STYLE 
	
	.calculator .formRow { clear:both; width: 100%; padding-bottom:10px; }
	.calculator .formRow .labelColumn { display:block; float:left; width: 140px; text-align:right;font-size: 80%;}
	.calculator .formRow .labelColumn label { padding:4px 8px 0 0; display:block;text-align:right; line-height:14px; }
	.calculator .formRow .inputColumn { display:block; float:right; width: 220px; font-size: 80%;}
	.calculator .formRow .inputColumn input { line-height: 20px; padding: 3px; width: 200px; }
	
	#grid .customSelectMenu { position: relative; }
	#grid .customSelectMenu .valueRegion { margin-top: -15px; background-color: #FFFFFF url("../images/uk-content/select-value-closed.gif") left bottom no-repeat; cursor: pointer; font-size: 125%; padding: 0 0 5px 0;}	
	#grid .customSelectMenu .valueRegionInner { background:#FFFFFF url("../images/uk-content/select-value-closed.gif") left top no-repeat; padding: 19px 10px 7px 18px; }
	#grid .customSelectMenu .valueRegionInner .arrow {}
	
	#grid .customSelectMenu ul {  position:absolute; background: url("../images/uk-content/select-menu.gif") no-repeat; display: none; font-size: 100%; top: 0px; left: 0; padding:6px 0 9px 0; z-index: 1000; }
	#grid .customSelectMenu ul li { background: url("../images/uk-content/select-border.gif") left top no-repeat; color: #000000; cursor: pointer; font-size: 125%; line-height: 22px; margin-left: 0 1px 0 1px; padding: 9px 17px 11px 17px; }	
	#grid .customSelectMenu ul li:hover { background: #DB0011 left top no-repeat; color: #FFF; }	
	#grid .customSelectMenu ul li span { display: block; line-height: 22px; }
	
	.boxshadow #grid .customSelectMenu.open .valueRegion { box-shadow: 0 0 10px #E2E2E2; }
	#grid .customSelectMenu.open .valueRegion { background: none; }
	#grid .customSelectMenu.open .valueRegionInner { background: url("../images/uk-content/select-value.gif") no-repeat; }
	
	
	.calculator .formRow .inputColumn .spanStyle01 { display: inline; line-height: 20px; margin:0 5px 0 0 ; font-weight:bold; }
	
	*/
	
	
	
	
	
	old #grid .customSelectMenu .valueRegionc {  	margin-top: -15px; cursor: pointer; font-size: 125%; /*padding: 0 0 5px 0; */padding: 0;border:1px solid #CCC;
	
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 43%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(43%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 43%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 43%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 43%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 43%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	}
	#grid .calculator .secondStage {clear:both}
	#grid .calculator .formRow { clear:both; float:left; width: 100%; padding-bottom:10px; }
	.calculator .formRow .labelColumn { display:block; float:left; width: 140px; text-align:right;font-size: 80%; padding-top:10px; /*padding-bottom:10px;*/}
	.calculator .formRow .labelColumn label { padding:0 8px 0 0; display:block;text-align:right; line-height:14px;margin-top:-5px; }
	.calculator .formRow .inputColumn { display:block; float:right; width: 220px; font-size: 80%; padding-top:5px; padding-bottom:5px;}
	.calculator .formRow .inputColumn input { width: 200px; /*padding: 7px;*/ margin-top:-5px;}
	.calculator .formRow .inputColumn.extExtraSpacing input { width: 211px; /*padding: 7px;*/ margin-top:-5px;}
	
	#grid .customSelectMenu { position: relative;/*z-index: 101;*/}
	
	#grid .customSelectMenu .valueRegion { background: #FFF url("../images/uk-content/select-value.png") right bottom no-repeat; margin-top: -5px;/* margin-bottom: 10px;*/ cursor: pointer; padding:0 5px 0 0;   }	
	#grid .customSelectMenu .valueRegionInner { background: #FFF url("../images/uk-content/select-value.png") left bottom no-repeat; padding: 0 0 5px 0; /*padding: 5px 10px 5px 18px;  padding: 19px 10px 7px 18px; height:10px;*/}
	#grid .customSelectMenu .valueRegionInner .value { background: #FFF url("../images/uk-content/select-value.png") left top no-repeat; padding: 10px 25px 5px 10px; /* padding: 19px 10px 7px 18px; height:10px;*/}
	#grid .customSelectMenu .valueRegionInner .arrow {position:absolute; background: #FFF url("../images/uk-content/select-value.png") right top no-repeat; top: 0; right: 0; width: 25px; height:25px; margin:0; padding:0;}
	
	#grid .customSelectMenu.open ul {  position:absolute; top: 0px; left: 0; display: none; background: #FFF;  -moz-border-radius: 5px; border-radius: 5px;  z-index: 1000; box-shadow: 0 10px 10px #E2E2E2; border:1px solid #CCC; padding:5px 0 5px 0; } 
	/*url("../images/uk-content/select-menu.gif") left top no-repeat; display: none; font-size: 100%; top: 0px; left: 0; padding:6px 0 9px 0; z-index: 1000; box-shadow: 0 10px 10px #E2E2E2; }*/
	#grid .customSelectMenu ul li {  font-size:100%; padding:5px; }
	/*#grid .customSelectMenu ul {  position:absolute; background: url("../images/uk-content/select-menu.gif") right bottom no-repeat; display: none; font-size: 100%; top: 0px; left: 0; padding:6px 0 9px 0; z-index: 1000; box-shadow: 0 10px 10px #E2E2E2; }
	#grid .customSelectMenu ul li { background: url("../images/uk-content/select-border.gif") left top no-repeat; color: #000000; cursor: pointer; font-size: 125%; line-height: 22px; margin-left: 0 1px 0 1px; padding: 9px 17px 11px 17px; }	
	*/
	#grid .customSelectMenu ul li:hover,
	#grid .customSelectMenu ul li:active,
	#grid .customSelectMenu ul li:focus { background: #DB0011 left top no-repeat; color: #FFF; cursor:pointer; }	
	#grid .customSelectMenu ul li span { display: block; line-height: 16px; }
	
	/*.boxshadow #grid .customSelectMenu.open .valueRegion { box-shadow: 0 0 10px #E2E2E2; }*/
	#grid .customSelectMenu.open .valueRegion { background: none; }
	#grid .customSelectMenu.open .valueRegionInner { background: url("../images/uk-content/select-value.gif") no-repeat; }
	
	
	.calculator .formRow .inputColumn .spanStyle01 { display: inline; line-height: 20px; margin:0 5px 0 0 ; font-weight:bold; }
	
	
	
	#grid .grid  .calculator .ctaRow { width: 360px; margin-top: 15px; padding-top:10px;}
	#grid .grid  .calculator .ctaRow .right { clear:none;}
	#grid .grid  .calculator .ctaRow .right .message { float:left; text-align:right; padding:5px 10px 0 0;}
	#grid .grid  .calculator .ctaRow .right button { font-size:85%; float:right;}
	#grid .grid  .calculator .ctaRow .left { font-size:85;  width:200px; margin:-2px 10px -5px 10px; }

	
	
	
	/* Error messages */
	.calculator .formRow .ajaxErrorContent { clear:both; margin: 3px 0 3px 0; float:left; width:100%; }
	.calculator .formRow .errorMessage { clear:both; background:url(/images/bg/form_error_message.gif) no-repeat scroll right bottom transparent; display:block;  padding-bottom:1px; clear:both; font-size:75%; }
	.calculator .formRow .errorMessage .errorMessageInner { background:url(/images/bg/form_error_message_vsml.gif) no-repeat scroll left top transparent; display:block;padding: 20px 10px 10px 10px; line-height:18px; }

	#grid .calculator .errorMessage p.textStyle06 { margin: 0 0 10px 0; padding: 10px; background: #FBE5E7; border:1px solid #D6D3D6; font-weight:bold; line-height:16px; }

	/* Important notes */
	.calculator .contentStyle26 .greyInfoBox { clear:both; /*float:left;*/	display:block; padding:10px; background:#EFEEEE; border:1px solid #CCC; margin: 0 0 10px 0; overflow:hidden; }
	.calculator .contentStyle26 .greyInfoBox p,
	.calculator .contentStyle26 .greyInfoBox p span { line-height:16px;}


	/* Default form styles */
	.calculator input[type=text] {border:1px solid #CCC; padding:3px; margin:0px; }
	.calculator select { border:1px solid #CCC; padding:1px; width:100%; }
	

	.calculator .buttonRight { text-align:right;  float:right; overflow:hidden;padding-bottom: 20px; }
	.calculator .buttonRight button { margin-right: 0; }
	.calculator .toolFoot { clear:both;  }
	.calculator .toolFoot .footNote p { text-align:right; float:left; clear:both; }

	.calculator ul.additionalLinks { display:block; float:left; width: 200px; font-size:130%; overflow:hidden; }
	.calculator ul.additionalLinks li {padding-top:10px }

	/* Call back form */
	.calculator #slcfForm form {/* font-size:85%; */border:1px solid #CCC; background:#efeeee; padding:10px; margin: 0 -10px;}
	.calculator #slcfForm form h4 {padding: 0 0 5px 0; }
	.calculator #slcfForm form p {margin-bottom: 0;}
	.calculator #slcfForm form label { font-weight:bold; }
	/*
	.calculator #slcfForm .formRow.formRowStyle03 label {font-size:80%}
	.calculator #slcfForm .formRow.formRowStyle03 .columnStyle01 { float:left; width: 84px; }
	.calculator #slcfForm .formRow.formRowStyle03 .columnStyle02 { float:left; width: 114px; }
	.calculator #slcfForm .formRow.formRowStyle03 select#call_back_title  {  width: 70px; margin: 10px 0 20px 0; }
	.calculator #slcfForm .formRow.formRowStyle03 .name {  width: 96px; margin: 10px 0 20px 0; }
	*/
	.calculator #slcfForm form .formRow .labelColumn { width:100%; }
	.calculator #slcfForm form .formRow .labelColumn label { text-align:left; }
	.calculator #slcfForm form .formRow .inputColumn { width:100%; }
	.calculator #slcfForm form .formRow .inputColumn input{ width:230px; }
	
	.calculator #slcfForm form .formRow .errorMessage { width:238px; }
	.calculator #slcfForm form .formRow .errorMessageInner { width:216px; }

	
	


/* END: Calculator (Find and compare) */



/* START: call me */

	#contactForm { border: 1px solid #CCC; background:#FFF; display:block; overflow:hidden;  width:938px;}
	#contactForm .headerStyle01 { background:#EFEEEE; padding:20px; display:block;}
	#contactForm .headerStyle01 { background:#EFEEEE; padding:20px; display:block;}
	#contactForm .content { padding: 20px; float:left; position:relative; }
	
	#grid  #contactForm p { line-height: 16px; } 
	#contactForm p.mandatory {text-align: right; position: absolute; top: 10px; right: 10px; padding: 0 0 0 10px; background: url(../images/bg/row_mandatory.gif) left center no-repeat; }
	#contactForm .column.columnStyle09 { width: 500px;  }
	#contactForm .content h3 { padding-bottom:20px;}
	
	#contactForm .column.columnStyle09 .formRow { float:left; width: 540px; padding: 0 0 20px 0; clear:both;}
	#contactForm .row { clear:both; float:left; }
	#contactForm .row .contentStyle85 { padding:10px; border:1px solid #CCC; background:#EFEEEE; width:875px !important; }
	.extTwoColumns {}
	  
	#contactForm .column.columnStyle09 .formRow .labelColumn { width: 210px; font-size:80%; text-align:right; float:left; padding: 5px 20px 0 0; font-weight:bold;}
	#contactForm .labelColumn.mandatory  {  }
	#contactForm .column.columnStyle09 .formRow .inputColumn { width: 300px; font-size:80%; float:left; }
	#contactForm .column.columnStyle09 .formRow .inputColumn input[type="text"] { border: 1px solid #CCC; width: 208px;padding: 3px; }
	#contactForm .column.columnStyle09 .formRow .inputColumn select { border: 1px solid #CCC; width: 216px;padding: 3px; }
	
	
	#contactForm .formRow .errorMessage {  clear:both;  background:url(/images/bg/form_error_message.gif) no-repeat scroll right bottom transparent; display:block; width:360px; margin-top:3px; padding-bottom: 1px; font-size:80%; }
	#contactForm .formRow .errorMessage .errorMessageInner {background:url(/images/bg/form_error_message_vsml.gif) no-repeat scroll left top transparent; display:block;padding: 20px 10px 10px 10px; line-height:18px;}
	#contactForm .column.columnStyle08 .formRow { float:left; padding: 0 0 10px 0; clear:both; width: 370px;}
	#contactForm .column.columnStyle08 .formRow .captchaColumn { padding-top: 10px;}

	 #contactForm .column.columnStyle08 .labelColumn { padding: 0 0 10px 0; font-size: 80%; } 
	#grid  #contactForm .column.columnStyle08 .labelColumn label { line-height: 16px; } 
	#contactForm .column.columnStyle08 textarea { width: 350px; }
	#contactForm .column.columnStyle08 .formRow .inputColumn input[type="text"] { border: 1px solid #CCC; width: 350px;padding: 3px; font-size: 80%; }

	
	#grid .grid #contactForm .ctaRow { margin: 0 20px; width:896px; }
	#grid .grid #contactForm .ctaRow .buttonLeft { margin: 0 0 0 10px; }
	#grid .grid #contactForm .ctaRow .buttonRight { float: right; margin: 0; }
	
	
/* END: call me */

	


/* START: Find and compare results */

	#products table col.price { width: 70px;}
	#products table tbody th,
	#products table tbody td { vertical-align:middle; }
	#products table tbody th h4 { padding-top:0; margin-top:0;vertical-align:middle; }
	
	#products table tbody td.price { font-weight:bold;}

/* END: Find and compare results */









/* START: Calculator (HMCIB) */

	/* Layout */
	#grid .calculator .HMCIB .form p { font-size:80%; }
	#grid .calculator .HMCIB .form p .redLink { line-height:16px;font-size:100%;  position:relative }
	#grid .calculator .HMCIB .form p .redLinkCustom {}
	#grid .calculator .HMCIB .form p .redLinkCustom span { padding:0 12px 0 0; display:inline-block; background: url(/images/content/sml_red_arrow.gif) no-repeat right bottom; }
	#grid .calculator .HMCIB .form .column { float:left; clear:both; display:block; padding:20px;  width:360px; }
	#grid .calculator .HMCIB .form .column .buttonRight { margin-top: 10px;}
        
	/* Inner tabs */
	.calculator .HMCIB .form .tabs { float:left; clear:both; text-align:center; overflow: hidden; display:block; width:650px; }
	.calculator .HMCIB .form .tabs ul li {  position: relative; float:left; width:134px; }
	#grid .calculator .HMCIB .form .tabs ul li p { font-size:100%; color:#666; padding-bottom: 0; }
/*	.calculator .HMCIB .form .tabs ul li a {  display:block; }
	*/
	.calculator .HMCIB .form .tabs ul li span { display:block; text-align:center; font-weight:bold; border-right:1px solid #d1d0d1;border-bottom:1px solid #d1d0d1; background: #EFEEEE; display:block; padding: 0px; line-height:30px; }
	.calculator .HMCIB .form .tabs ul li.first span { border-left:0 none; }
	.calculator .HMCIB .form .tabs ul li.last span {  }
	.calculator .HMCIB .form .tabs ul li.selected span { border-bottom:1px solid #FFF; }
	.calculator .HMCIB .form .tabs ul li.last.selected span { border-right:0 none; }
	.calculator .HMCIB .form .tabs ul li.selected { -moz-box-shadow: -2px -2px 3px #ccc; -webkit-box-shadow: -2px -2px 3px #ccc; box-shadow: -2px -2px 3px #ccc; }
	.calculator .HMCIB .form .tabs ul li.selected span { background:#fff; }
	.calculator .HMCIB .form .tabs ul li a:hover span { background:#DD0011; color:#FFF; text-decoration:none !important; border-bottom:1px solid #DD0011; }
	.calculator .HMCIB .form .tabs ul li a:hover  { text-decoration:none !important; }
	
	/* Important notes */
	.calculator .HMCIB .form .greyInfoBox { clear:both; display:block; padding:10px; background:#EFEEEE; border:1px solid #CCC; overflow:hidden; margin-bottom:10px; }
	.calculator .HMCIB .form .draw .greyInfoBox { margin-bottom:20px;}
	.calculator .HMCIB .form .greyInfoBox h4 { padding-bottom: 10px; }
	.calculator .HMCIB .form .greyInfoBox p { line-height: 18px; font-size: 75%; }
	.calculator .HMCIB .form .greyInfoBox .confirm { margin: 0px 0 0 0; padding-bottom:0; /*font-size: 80%;*/ }
	.calculator .HMCIB .form .greyInfoBox .confirm input { margin-right: 20px;  }
	.calculator .HMCIB .form .greyInfoBox .confirm label {   }

	/* Draw section */
	.calculator .HMCIB .form .draw {  /*overflow: hidden;*/  float:left; vertical-align:top; width: 240px; /*padding: 0 20px 32767px 20px; margin:0 0 -32767px 1px; */padding: 0 20px 0px 20px; margin:0 0 0px 1px;  border-left:1px solid #ccc;    }
	.calculator .HMCIB .form .draw .drawInner { vertical-align:top; /*overflow:hidden;*/ margin-bottom: 20px; }
	.calculator .HMCIB .form .draw .drawInner .HMCIBresult { display: block; background: #EFEEEE; border: 1px solid #CCC; padding: 10px; margin-bottom:20px;  }
	.calculator .HMCIB .form .draw .drawInner .HMCIBresult .HMCIBresultInner { font-size:125%; font-weight:bold; }
	.calculator .HMCIB .form .draw .drawInner .contentStyle95 .help { margin-top: 5px;}
	.calculator .HMCIB .form .draw .drawInner .or { clear:both; display: block; padding:10px 0;}
	.calculator .HMCIB .form .draw p { margin: 0 0px 10px 0px; line-height: 18px; font-size:75%;}
	.calculator .HMCIB .form .draw .drawInner p.textStyle93 { margin:0; text-align:right; padding:0 62px 0 0;}
	#slcfForm .captchaColumn { width: 210px;}
	.captchaContainer { width: 190px; padding-bottom: 25px;  padding-right: 27px; position: relative;}
	.captchaContainer .audio { position: absolute; right: 0; top: 0;}
	.captchaContainer .refresh { background: #FFF url("/images/icons/Refresh.gif"); cursor: pointer; height: 22px; position: absolute; right: 0; top: 25px; width: 22px; }
	
	#grid .calculator .HMCIB .form .draw .HMCIBresult .HMCIBresultInner h3 { font-size:70%; color:#4C4C4C; }
	#grid .calculator .HMCIB .form .draw .HMCIBresult .HMCIBresultInner p.totalStatement { display:block; font-size:85%; margin:10px 0 0px 0; padding:0; line-height:18px; color:#000;}
	#grid .calculator .HMCIB .form .draw .HMCIBresult .HMCIBresultInner p.totalStatement .total { font-size:130%; white-space:nowrap; font-weight:bold; }
	#grid .calculator .HMCIB .form .draw .HMCIBresult .HMCIBresultInner p.totalStatement .ltvGroup { white-space:nowrap; }
	#grid .calculator .HMCIB .form .draw .HMCIBresult .HMCIBresultInner p.totalStatement .ltv {}
	
	.calculator .HMCIB .form .draw .next { display:block; margin: 30px 0 0 0; padding:0; /*bottom:0; position:absolute; border:1px solid #ccc;*/}
	.calculator .HMCIB .form .draw .next h3 { margin-bottom:20px }
	.calculator .HMCIB .form .draw .next p.kfi { clear:both; padding: 5px 38px 0 0; margin: 0; font-size: 70%; font-weight:bold; text-align:right; }
	.calculator .HMCIB .form .draw .next p.or { clear:both; padding: 5px 35px 5px 0; text-align:center; /*font-weight:bold;*/ font-size: 100%;  }
	
	.calculator .HMCIB .form input {}
	


/* END: Calculator (HMCIB) */










/* START: Calculator (Apply) */
	
	/* Layout */
	.apply { float:left; border:1px solid #CCC; width:936px; }
	
	/* Non online options */
	.apply .applyOptions { float:left;  }
	.apply .applyOptions .applyOptionsInner { float:left; background:url(/images/bg/apply-column-divider.gif) repeat-y; margin: 20px 0; padding: 0 20px; }
	.apply .applyOptions .group { float:left; width:622px;  }
	.apply .applyOptions .option { float:left;  overflow: hidden; width:271px; min-height:210px; height:auto !important; height:210px; /*background:#f00;*/ }
	.apply .applyOptions .notice { float:left;  width: 580px; background:#FFF; clear:left; padding:20px 10px 0 0;  margin-right:30px; }
	.apply .applyOptions .notice .inner { float:left; padding:10px; background:#EFEEEE; border:1px solid #CCC; }
	
	.apply .applyOptions .option.HSBCPremier { margin:0 40px;}
	.apply .applyOptions .option h4 { padding-bottom: 20px; font-size: 84%; }
	.apply .applyOptions .option h3 { margin-bottom: 20px; display:block; padding: 0px; }
	#grid .apply .applyOptions .option .phoneNumber { color: #DB0011; font-size: 160%; padding-bottom: 5px;  }
	#grid .apply .applyOptions .option .phoneNumberOther { margin: 0 0 10px 0; }
	.apply .applyOptions sup { font-size: 60%; vertical-align:top; vertical-align:super; color:#000; }
	.apply .applyOptions p { clear:both; line-height: 18px; }
	.apply .applyOptions p.note {  font-size:70%; line-height: 14px; }
	.apply .applyOptions div.button { float:left; width:100%; clear:both;  margin: 10px 0 0 0; }
	.apply .applyOptions .description { font-size:95%; margin-bottom: 10px; }

	
	
	
	/* Online */
	.apply .applyOnline {clear:left; display:block; margin-top:20px;}
	.apply .applyOnline .applyOnlineInner {/*background:#0F0;*/ padding: 0 20px 15px 20px; overflow:hidden; }
	.apply .applyOnline h2 { clear:both; display:block; background:#EFEEEE; padding: 10px 20px 10px 20px; width:896px; margin: 0 0 20px -20px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC;}
	.apply .applyOnline p { clear:both; line-height: 18px; }
	#grid .apply .applyOnline p.note { font-size:100%; font-weight:bold; }

	.apply .applyOnline .mortageChoices { margin: 20px 0 20px 0; }
	.apply .applyOnline .mortageChoices .blockSpace  { margin: 10px 0 0 0;}
	.apply .applyOnline .mortageChoices .blockSpace input  { margin: 0 10px 0 0; }
	.apply .applyOnline .keyFactsConfirmed .greyInfoBox { background: #EFEEEE; border:1px solid #CCC; padding:20px; margin-bottom:20px; }
	.apply .applyOnline .keyFactsConfirmed h4 { margin: 0 0 10px 0; /*color:#626469;*/}
	.apply .applyOnline .keyFactsConfirmed .confirmation { margin: 10px 0 0 0;  }
	.apply .applyOnline .keyFactsConfirmed .confirmation input { margin: 0 10px 0 0; }
	.apply .applyOnline .keyFactsConfirmed .errorMessage { background:url(/images/bg/form_error_message.gif) no-repeat scroll right bottom transparent; display:block; padding-bottom:1px; clear:both; /*margin-bottom:20px;*/ width:360px;  margin-top:-20px;}
	.apply .applyOnline .keyFactsConfirmed .errorMessageInner { background:url(/images/bg/form_error_message_vsml.gif) no-repeat scroll left top transparent; display:block;padding: 20px 10px 10px 10px;}
	.apply .applyOnline .keyFactsConfirmed .confirmationMessage { margin: 0 0 20px 0; }
	.apply .applyOnline .buttonLeft { float:left; width:200px;}	
	#grid .apply .applyOnline .buttonLeft .back { bottom:0;}	
	.apply .applyOnline .buttonRight { float:right; width:200px;}	
	.apply .applyOnline .buttonRight  button { float:right; }
	#grid .apply .applyOnline .buttonRight .greyBtn { float:right; margin:0;}
	
	#grid .apply .applyOnline .ctaRow { width:900px; padding:10px 0; }
	#grid .apply .applyOnline .ctaRow .left {  clear: none; }
	#grid .apply .applyOnline .ctaRow .back { width: 200px; padding: 8px 0 0 10px; bottom:auto; }
/* END: Calculator (Apply) */










/* MiniBanner bars */

	.miniBanners { width:960px; border:0px solid #000000;/*margin-top:20px; margin: 0 0 30px 0;*/ overflow:hidden; } /*width = 960px jquery to bring down to 940 and also monitor last set margins */
	.miniBanners h3 { font-size: 160%; font-weight:bold; }
	.miniBanners .miniBannersInner { margin-top:20px; }
	
	.miniBanners ul {display: block; overflow:hidden; width: auto; }
	
	#grid .miniBanners ul li { font-size:100%; }
	#grid .miniBanners ul li p { line-height:1.4em; } 
	
	.miniBanners ul li {  margin: 0 20px 10px 0; padding:0px; border:0 none; display:block;overflow:hidden; float:left; }
	.miniBanners ul li div { margin: 0px; padding:0px; border:0 none; }
	.miniBanners ul li.last { margin-right: 0px; }
	
	.miniBanners ul li h4 { margin: 20px 0 10px 0; }; 
	
	.miniBanners ul.one li { width:940px; }
	.miniBanners ul.two li {  width:460px; }
	.miniBanners ul.three li { width:300px; }
	.miniBanners ul.four li {  width:220px; }
	.miniBanners ul.five li { width:172px; } 

/* END: MiniBanner bars */







/* START: Product results */	
	
	/* Form */
	.productResults { /*padding: 20px;*/ margin:20px; }
	.productResults h3 { line-height:32px;}
	.productResults p { line-height:16px;}
	.productResults .contentLeft { float: left; width: 400px; display:block;}
	.productResults .buttonHolder { float:right;  display:block; text-align:right;}
	
	.calculator .header {overflow:hidden;}
	.calculator .header .contentLeft { float:left;}
	.calculator .header .buttonHolder { float:right;  display:block; text-align:right; margin:-10px;}
	.calculator .footer .buttonHolder { float:right;  display:block; text-align:right; margin:-10px -10px 0 0; padding-bottom:20px;}
	
	.productResults .greyInfoBox { clear:both;  float:left; display:block; background:#EFEEEE; width: 100%; margin: 0 20px 20px -20px; padding: 20px 20px 10px 20px; }
	
	/* Change details form */
	.productResults .resultsTableContainerHead { clear:both;  float:left; display:block; width: 100%; margin: 0 20px 0 -20px; padding: 0 0 20px 20px; font-size: 80%; }
	.productResults .resultsTableContainerHead h4 { display: -moz-inline-stack; display:inline-block; zoom: 1; * display:inline; }
	.productResults .resultsTableContainerHead .input { /*position:relative; */display: -moz-inline-stack; display:inline-block; zoom: 1; * display:inline; width:200px; vertical-align:middle; margin-left:10px;}
	.productResults .resultsTableContainerHead .input label { position:absolute; display:block;left:-2000px; width:1px; height:1px;}
	.productResults .resultsTableContainerHead .input.go {width:70px; margin-top:-4px; }
	.productResults .resultsTableContainerHead .input.go button {font-size: 100%;}
	
	
	/* Results table */
	div#productSelector #products table thead {  font-size: 75%; height: auto; }
	

	#grid .resultsTableContainer table thead th.mortgages  {background:#DBDCDD;}
	#grid .resultsTableContainer table thead tr.firstRow th { border-bottom:0 none;}
	#grid .resultsTableContainer table tbody tr td.mortgages {background:#F0F0F0;}
	#grid .resultsTableContainer table tbody tr.odd td.mortgages {background:#E4E4E4;}
	
	#grid .resultsTableContainer table tbody tr td.mortgages a.HTMLTip { display:none; }
	#grid .resultsTableContainer table tbody tr td.mortgages .jsContentTooltip { font-size: 100%; padding:0; }
	#grid .resultsTableContainer table tbody tr td.mortgages .jsContentTooltip p { font-size: 100%; padding:0; }
	.js #grid .resultsTableContainer table tbody tr td.mortgages a.HTMLTip { display:block; }
	
	
	#grid .resultsTableContainer table thead th .anchorLinks  { display:block; width: 80px;}
	#grid .resultsTableContainer table thead th .anchorLinks  .selector {float:left; margin: 0; }
	#grid .resultsTableContainer table thead th .anchorLinks  .help {float:left; margin: -1px 0 0 10px; height:17px;}
	
	#grid .resultsTableContainer table tbody tr td.mortgages span { display:block; padding-top:5px; font-size:85%;}
	
	#grid .resultsTableContainer table tfoot td  {background:#DBDCDD; font-weight:bold;}

	
	#productComparisonTools table thead tr {}
	#productComparisonTools table thead th { padding:10px; 
		background: rgb(118,118,118); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(118,118,118,1) 0%, rgba(86,86,86,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(118,118,118,1)), color-stop(100%,rgba(86,86,86,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(118,118,118,1) 0%,rgba(86,86,86,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(118,118,118,1) 0%,rgba(86,86,86,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(118,118,118,1) 0%,rgba(86,86,86,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(118,118,118,1) 0%,rgba(86,86,86,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767676', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
		
		background:  #E6E6E6 url("/images/content/td_divider.gif") left center no-repeat;		
	}
	
	#productComparisonTools table thead th button { font-size: 150%; }
	#productComparisonTools table thead  { }
	#productComparisonTools table tbody tr.productInfo th,
	#productComparisonTools table tbody tr.productInfo td { text-align:center; vertical-align:middle; padding:10px; font-weight:normal;}
	#productComparisonTools table tbody tr.productInfo th.firstCol { text-align:left;  padding:10px;}
	#productComparisonTools table tbody tr.productInfo th.firstCol p.name { color:#000; font-size: 100%; font-weight:bold; }
	#productComparisonTools table tbody tr.productInfo th.firstCol p.additional { font-size: 75%; font-weight:normal; padding: 10px 0 0 0;}
	
	#productComparisonTools table tbody tr.productInfo td.overallCost { white-space:nowrap;  }

	#products table col.name { width:160px;}
	/*#products table col.price {width:500px;}
	#products table col.other {width:500px;}*/
	#products table col.apr {width:100px;}
	
	/*#MortgageProducts col.name {200px;}
	#MortgageProducts col.price {}
	#MortgageProducts col.other {500px;}*/

/* START: Product results */	








/* START: Other */
	#grid .grid .column {padding-top:20px;padding-bottom:10px;}
	#grid .grid .column ul.linksList { padding-left:0;  }
	#grid .grid .column ul.linksList li { list-style:none; }
	#grid .category.help .column {  min-height:340px; height:auto !important; height:340px; width: 278px; padding:10px;}
	#grid .category.help .column ul {  margin-left: 10px; }
	#grid .category.calculators .column {  min-height:290px; height:auto !important; height:290px; padding: 10px; width:198px; -moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc; box-shadow:0 0 20px #ccc; }

	#grid .grid .contactRow .question { padding-bottom:20px; }
	
	#grid .ctaRow sup,
	#grid .grid .contactRow .column p.phone span sup { vertical-align:super; font-size:75%; color:#000; } 
	
	#grid .contentItem table.dropDown tbody { font-size:100%; }
	#grid .contentItem table.dropDown thead th { vertical-align:top; }
	#grid .contentItem table.dropDown thead th a.greyBtn { font-size: 135%; text-decoration:none; }
	#grid .contentItem table.dropDown thead th.colgroup { text-align:center; width:200px }
	#grid .contentItem table.dropDown a.jsSelector { font-size: 135%; float:left; text-decoration:none; font-weight:bold; padding: 10px 0 0 0; display:block; width:100%;}
	#grid .contentItem table.dropDown a.jsSelector .iconSet {  margin: -10px 0 0 0; float:left; padding:0 10px 0 0; }
	
	#grid .contentItem table.dropDown .open a.jsSelector .iconSet .icon.dropDownOne { background-position: -40px 0; }
	#grid .contentItem table.dropDown .jsContent { font-size:135%; display:block; }
	#grid .contentItem table tbody a.jsSelector.selected .iconSet .icon.dropDownOne {background-position: -40px 0;}

	#grid .offers_quad .grid_6 .column {  width: 198px; padding: 10px; }
	#grid .offers_quad .grid_9.last { padding-right:0px; }
	#grid .offers_quad .grid_9 .column {  width: 298px;/* height:298px;*/ padding: 10px; border:1px solid #ccc; min-height:150px; height:auto !important; height:150px; -moz-box-shadow:0 0 20px #ccc; -webkit-box-shadow:0 0 20px #ccc; box-shadow:0 0 20px #ccc; }
	#grid .offers_quad .grid_9 .column.bottom_row {  min-height:340px; height:auto !important; height:340px; }
	#grid .offers_quad .grid_6 .column.bunch { margin-bottom:-1px;}
	#grid .offers_quad .grid_9 { padding-bottom: 40px; }
	#grid .offers_quad .phoneNumber { color: #DB0011; font-size: 160%; padding-bottom: 5px;  }
	#grid .offers_quad .phoneNumber sup { vertical-align:super; font-size:75%; color:#000; } 
/* END: Other */

/* START: Share */

	#lightviewShare .lightview { width: 540px; padding: 40px; }

/* END: Share */

/* START: RHN "my mortgage app" links */

	.rhnMenu .csPanelHeading { padding-bottom: 5px; }
		.rhnMenu .csPanelHeading .csPanelToggle { width: 85%; }
		.rhnMenu .csPanelHeading .csPanelToggle:hover a { color: #DB0011; }
	.rhnMenu .csPanelContent { font-weight: bold; padding-top: 0px; }
		.rhnMenu .csPanelContent ul { margin-top: 0; margin-bottom:0; }
		.rhnMenu .csPanelContent ul li { list-style-type: none; line-height: 31px; margin-bottom: 0; } 
		.rhnMenu .csPanelContent ul li.active { background: url('images/rhnActive.gif') no-repeat top left; margin-left: -27px; padding-left: 34px; width: 110%; }
			.rhnMenu a { background: none; padding-right: 0; }
			.rhnMenu .csPanelContent ul li.active a { color: #DB0011; }

/* END: RHN "my mortgage app" links */

/* START: "mortgages main page" marketingExternalisedJSP */
div.calculatorInner{
	height: 415px;
	width: 433px;
}
div.calculatorInner > div{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DFFFFFFF,endColorstr=#DFFFFFFF)\9; 
	zoom: 1\9;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    margin-right: 70px;
    margin-top: 10px;
    width: 310px;
	padding:20px;
	float:right;
}
div.calculatorInner > div > h4{
	font-weight:bold;
	font-size:145%;
	margin-bottom:0px;
}
div.calculatorInner > div > h3{
	font-weight:bold;
	font-size:180%;
	margin-bottom:0px;
}
div.calculatorInner > div > p{
	color: #DB0011;
    font-size: 240%;
    padding-bottom: 4px;
	line-height:1;
}
div.calculatorInner > div > p > sup{
	font-size:inherit;
	color:black;
	font-size: 100% !important;
}
/* END: "mortgages main page" marketingExternalisedJSP */

/* improves background tip text image */
.csV-3 .oh .csPanelHint > .csPanelTopLeft, .csV-3 .oh .csPanelHint > .csPanelBottomLeft {
	background-image: url(images/panelHintShadowTransparency.png);
}
.csV-3 .oh .csPanelHint > .csPanelTopLeft > .csPanelTopRight, .csV-3 .oh .csPanelHint > .csPanelBottomLeft > .csPanelBottomRight {
	background-image: url(images/panelHintShadowTransparency.png);
}