.mtpExtContent html, .mtpExtContent body, .mtpExtContent div, .mtpExtContent span, .mtpExtContent object, .mtpExtContent iframe, .mtpExtContent h1, .mtpExtContent h2, .mtpExtContent h3, .mtpExtContent h4, .mtpExtContent h5, .mtpExtContent h6, .mtpExtContent p, .mtpExtContent blockquote, .mtpExtContent pre, .mtpExtContent abbr, .mtpExtContent address, .mtpExtContent cite, .mtpExtContent code, .mtpExtContent del, .mtpExtContent dfn, .mtpExtContent img, .mtpExtContent ins, .mtpExtContent kbd, .mtpExtContent q, .mtpExtContent samp, .mtpExtContent sub, .mtpExtContent sup, .mtpExtContent var, .mtpExtContent dl, .mtpExtContent dt, .mtpExtContent dd, .mtpExtContent ol, .mtpExtContent ul, .mtpExtContent li, .mtpExtContent fieldset, .mtpExtContent form, .mtpExtContent label, .mtpExtContent legend, .mtpExtContent table, .mtpExtContent caption, .mtpExtContent tbody, .mtpExtContent tfoot, .mtpExtContent thead, .mtpExtContent tr, .mtpExtContent th, .mtpExtContent td, .mtpExtContent article, .mtpExtContent aside, .mtpExtContent canvas, .mtpExtContent details, .mtpExtContent figcaption, .mtpExtContent figure, .mtpExtContent footer, .mtpExtContent header, .mtpExtContent hgroup, .mtpExtContent menu, .mtpExtContent nav, .mtpExtContent section, .mtpExtContent summary, .mtpExtContent time, .mtpExtContent mark, .mtpExtContent audio, .mtpExtContent video
{
	font-size:100%;
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	margin:0;
	outline:0;
	padding:0;
	text-align:left;
	vertical-align:baseline;
}


.mtpExtContent a
{
	color:#000;
}



.mtpExtContent a:active,
.mtpExtContent a:focus,
.mtpExtContent button:active,
.mtpExtContent button:focus,
.mtpExtContent input[type="text"]:active,
.mtpExtContent input[type="text"]:focus,
.mtpExtContent input[type="button"]:active,
.mtpExtContent input[type="button"]:focus,
.mtpExtContent input[type="submit"]:active,
.mtpExtContent input[type="submit"]:focus,
.mtpExtContent input[type="image"]:active,
.mtpExtContent input[type="image"]:focus
{
	outline:0;
}



.mtpExtContent article, .mtpExtContent aside, .mtpExtContent canvas, .mtpExtContent details, .mtpExtContent figcaption, .mtpExtContent figure, .mtpExtContent footer, .mtpExtContent header, .mtpExtContent hgroup, .mtpExtContent menu, .mtpExtContent nav, .mtpExtContent section, .mtpExtContent summary
{ 
	display:block;
}


.mtpExtContent l, .mtpExtContent ol, .mtpExtContent li
{
	list-style:none;
}



.mtpExtContent blockquote
{
	quotes:none;
}



.mtpExtContent blockquote:before,
.mtpExtContent blockquote:after
{
	content:'';
	content:none;
}



.mtpExtContent table
{
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
}


.mtpExtContent input,
.mtpExtContent select,
.mtpExtContent button
{
	vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	padding:0;
	margin:0;
}



.mtpExtContent strong
{
	font-weight:bold;
}



.mtpExtContent em
{
	font-style:italic;
}



.mtpExtContent sub
{
	vertical-align:text-bottom;
}



.mtpExtContent sup
{
	vertical-align:text-top;
	font-size:60%;
}

